.button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  max-width: 365px;
  min-height: 60px;
  margin: 0 auto;

  text-decoration: none;
  text-align: center;
  font-family: $secondary-regular;
  font-size: $font-size-s;
  line-height: $font-size-s;

  border: none;
  border-radius: 35px;
  box-sizing: border-box;

  &--black {
    color: $primary-text;
  }

  &--white {
    color: $white;
    border: 2px solid $white;
  }

  &--red {
    color: $yt-red;
  }

  &--big-white-green {
    @include btn-big($white);
    color: #026837;
    border: 2px solid #026837;
    box-shadow: 0 10px 20px 0 rgba(2, 104, 55, 0.10);
  }

  &--big-white-blue {
    @include btn-big($white);
    color: #1b1564;
    border: 2px solid #1b1564;
    box-shadow: 0 10px 20px 0 rgba(27, 21, 100, 0.10);
  }

  &--login {
    color: $white;
    border: 2px solid rgba(256, 256, 256, 0.25);

    span {
      display: inline-block;
      padding-left: 21px;
      margin-right: 21px;
      position: relative;

      &::before {
        position: absolute;
        content: '';
        width: 11px;
        height: 14px;
        left: 0px;

        background-image: url(../img/icon/icon-user.svg);
        background-repeat: no-repeat;
        background-size: 100%;
      }

    }

  }

  &--border-ylw {
    color: $white;
    border: 2px solid #F7F606;
  }

}

.button--yellow {
  background-image: linear-gradient(90deg, #f7f606 0%, #f7a406 100%);
  box-shadow: 0 10px 20px 0 rgba(250, 165, 51, 0.1);
}

.button--green {
  color: $white;
  background-image: linear-gradient(90deg, #02c7b5 0%, #029550 100%);
  box-shadow: 0 10px 20px 0 rgba(250, 165, 51, 0.1);
}

.button--blue {
  background-image: linear-gradient(90deg, #2fb9aa 0%, #4794ef 100%);
  box-shadow: 0 10px 20px 0 rgba(250, 165, 51, 0.1);
}

.button--orange {
  color: $white;
  background-image: linear-gradient(90deg, #faa533 0%, #c42f2e 100%);
  box-shadow: 0 10px 20px 0 rgba(250, 165, 51, 0.1);
}

.button--red {
  background: #ea3518;
}