.button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  max-width: 365px;
  min-height: 60px;
  margin: 0 auto;

  text-decoration: none;
  text-align: center;
  font-family: $secondary-regular;
  font-size: $font-size-s;
  line-height: $font-size-s;

  border: none;
  border-radius: 35px;
  box-sizing: border-box;

  &--black {
    color: $primary-text;
  }

  &--white {
    color: $white;
    border: 2px solid $white;

    &:hover,
    &:focus {
      background-color: #ffffff;
      color: #238f4b;
    }

    &:active {
      opacity: 0.8;
    }
  }

  &--red {
    color: $yt-red;
  }

  &--big-white-green {
    @include btn-big($white);
    color: #026837;
    border: 2px solid #026837;
    box-shadow: 0 10px 20px 0 rgba(2, 104, 55, 0.1);

    &:hover,
    &:focus {
      color: #02c7b5;
      border: 2px solid #02c7b5;
    }
  }

  &--big-white-blue {
    @include btn-big($white);
    color: #1b1564;
    border: 2px solid #1b1564;
    box-shadow: 0 10px 20px 0 rgba(27, 21, 100, 0.1);

    &:hover,
    &:focus {
      color: #5b71a6;
      border: 2px solid #5b71a6;
    }
  }

  &--login {
    color: $white;
    border: 2px solid rgba(256, 256, 256, 0.25);

    &:hover,
    &:focus {
      color: $primary-text;
      border: 2px solid $button-yellow;
      background-color: $button-yellow;
    }

    &:active {
      color: $primary-text;
      border: 2px solid $button-solid-orange;
      background-color: $button-solid-orange;
    }

    span {
      display: inline-block;
      padding-left: 21px;
      margin-right: 21px;
      position: relative;

      &::before {
        position: absolute;
        content: "";
        width: 11px;
        height: 14px;
        left: 0px;

        background-image: url(../img/icon/icon-user.svg);
        background-repeat: no-repeat;
        background-size: 100%;
      }
    }
  }

  &--border-ylw {
    color: $white;
    border: 2px solid #f7f606;

    &:hover,
    &:focus {
      color: $primary-text;
      border: 2px solid $button-yellow;
      background-color: $button-yellow;
    }

    &:active {
      color: $primary-text;
      border: 2px solid $button-solid-orange;
      background-color: $button-solid-orange;
    }
  }

  &--webinar-form {
    margin-bottom: 20px;
  }

  &--vk {
    color: $vk;
    border: 2px solid $vk;
    background-color: inherit;

    margin-bottom: 40px;
    // position: relative;
    // &::before {
    //   position: absolute;
    //   display: block;
    //   content: "";
    //   width: 20px;
    //   height: 12px;
    //   background-image: url(../img/icon/vk_login.svg);
    //   background-repeat: no-repeat;
    //   left: 40px;
    // }
  }

  &--email {
    background-color: $white;
    color: $accient;
    border: 2px solid #f65500;
    box-shadow: 0 10px 20px 0 #ebebeb;
    margin-bottom: 25px;
    max-width: 273px;
  }

  &__report-button {
    max-width: 273px;
    color: $accient;
    border: 2px solid #212121;

    &:hover,
    &:focus {
      border: 2px solid #ff482f;
      color: #ff482f;
    }

    &:active {
      border: 2px solid #d13d24;
      color: #d13d24;
    }
  }
}

.button--yellow {
  background-image: linear-gradient(90deg, #f7f606 0%, #f7a406 100%);
  box-shadow: 0 10px 20px 0 rgba(250, 165, 51, 0.1);

  &:hover,
  &:focus {
    background-image: none;
    background-color: #f7f606;
  }

  &:active {
    background-image: none;
    background-color: #f7a406;
  }
}

.button--green {
  color: $white;
  background-image: linear-gradient(90deg, #02c7b5 0%, #029550 100%);
  box-shadow: 0 10px 20px 0 rgba(250, 165, 51, 0.1);

  &:hover,
  &:focus {
    background-image: none;
    background-color: #02c7b5;
  }

  &:active {
    background-image: none;
    background-color: #029550;
  }
}

.button--blue {
  color: $white;
  background-image: linear-gradient(90deg, #2fb9aa 0%, #4794ef 100%);
  box-shadow: 0 10px 20px 0 rgba(250, 165, 51, 0.1);

  &:hover,
  &:focus {
    background-image: none;
    background-color: #2fb9aa;
  }

  &:active {
    background-image: none;
    background-color: #4794ef;
  }
}

.button--orange {
  color: $white;
  background-image: linear-gradient(90deg, #faa533 0%, #c42f2e 100%);
  box-shadow: 0 10px 20px 0 rgba(250, 165, 51, 0.1);

  &:hover,
  &:focus {
    background-image: none;
    background-color: #faa533;
  }

  &:active {
    background-image: none;
    background-color: #c42f2e;
  }
}

.button--purple {
  color: $white;
  background-image: linear-gradient(90deg, #c65ada 0%, #7547b5 100%);
  box-shadow: 0 10px 20px 0 rgba(250, 165, 51, 0.1);

  &:hover,
  &:focus {
    background-image: none;
    background-color: #c65ada;
  }

  &:active {
    background-image: none;
    background-color: #7547b5;
  }
}

.button--light-green {
  color: $white;
  background-image: linear-gradient(90deg, #5bdbc7 0%, #40a854 100%);
  box-shadow: 0 10px 20px 0 rgba(250, 165, 51, 0.1);

  &:hover,
  &:focus {
    background-image: none;
    background-color: #5bdbc7;
  }

  &:active {
    background-image: none;
    background-color: #40a854;
  }
}

.button--dark-blue {
  color: $white;
  background-image: linear-gradient(90deg, #0085ef 0%, #00a7a7 100%);
  box-shadow: 0 10px 20px 0 rgba(250, 165, 51, 0.1);

  &:hover,
  &:focus {
    background-image: none;
    background-color: #0085ef;
  }

  &:active {
    background-image: none;
    background-color: #00a7a7;
  }
}

.button--red {
  background: #ea3518;

  &:hover,
  &:focus {
    background-image: none;
    background-color: #e7533c;
  }

  &:active {
    background-image: none;
    background-color: #c42f2e;
  }
}

// Modal Close Button
.button__close-modal {
  //display: block;
  //border: none;
  //width: 16px;
  //height: 16px;
  //background-image: url("../../img/closer_icon.svg");
  //background-color: transparent;
  //background-repeat: no-repeat;
  //position: absolute;
  //right: 15px;
  //margin-top: 15px;
}

@media (min-width: $desktop) {
  .button__close-modal {
    //right: 30px;
    //margin-top: 30px;
  }

  .button {
    &--email {
      margin-bottom: 0;
    }

    &__report-button {
      color: $accient;
      border: 2px solid #212121;
    }
  }
}

@media (min-width: $desktop-full) {

  // NEW
  .button {

    &--big-white-green,
    &--big-white-blue {
      min-height: 60px;
      box-sizing: content-box;
      padding: 0 40px 0 40px;
    }

    &--webinar-form,
    &--vk {
      max-width: 460px;
    }

    &__report-button {
      color: $accient;
      border: 2px solid rgba(33, 33, 33, 0.23);
    }
  }

  // &--form-wide {
  //   max-width: 380px;
  // }
}
