.conclude-pray {
  padding-top: 40px;
  padding-bottom: 50px;

  @include author-heading-text($primary-text);

  @include title-text($faded, $primary-text);

  &__title {
    align-items: center;
    margin-bottom: 25px;
  }

  &__title-text {
    display: inline-block;
    margin-bottom: 15px;
    margin-top: 0;

    &--big {
      margin-bottom: 0;
    }
  }

  &__item {
    margin-top: 40px;
  }

  &__text {
    font-family: $secondary-regular;
    font-size: $font-size-m;
    color: $primary-text;
    line-height: 26px;

    margin: 0;
    padding: 0;
    margin-bottom: 30px;

    &--accient-bold {
      font-family: $secondary-bold;
      color: $accient;
      text-decoration: none;
    }

    // &__text--accient-bold {
    //         font-family: $secondary-bold;
    //   color: $accient;
    //   text-decoration: none;
    // }
  }

  &--bg {
    background-color: $secondary-bg;
  }

  &__button {
    max-width: 280px;
  }
}

@media (min-width: $desktop) {
  .conclude-pray {
    padding-top: 120px;
    padding-bottom: 120px;

    &__item {
      display: flex;
      flex-direction: row-reverse;
      justify-content: space-around;
      align-items: center;
      margin-top: 60px;
    }

    &__content {
      width: 35%;
    }

    &__img {
      width: 460px;
      // height: 100%;
    }

    &__title--big {
      margin-bottom: 75px;
    }

    &__text {
      font-family: $secondary-regular;
      font-size: $font-size-m;
      color: $primary-text;
      line-height: 26px;

      margin: 0;
      padding: 0;
      margin-bottom: 30px;

      &--accient-bold {
        font-family: $secondary-bold;
        color: $accient;
        text-decoration: none;
      }
    }

    &__button {
      max-width: 405px;
    }
  }
}


/* стили только для IE10 и IE11 */
@media (-ms-high-contrast: active),
(-ms-high-contrast: none) {
  @media (min-width: $mobile) {
    .conclude-pray__button {
      // min-height: 100%;
      display: block;
      padding-top: 20px;
      padding-bottom: 20px;
      right: 10%;
    }
  }

  @media (min-width: $desktop) {

    .conclude-pray__button {
      // min-height: 100%;
      display: block;
      padding-top: 20px;
      padding-bottom: 20px;
      right: 10%;
    }
  }
}
