.donate-form {
  margin: 0;
  padding: 0px 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  box-sizing: border-box;

  &--modal {
    padding: 0;
  }
  &--top {
    margin-top: 30px;
  }
}

.donate-form__text-title {
  display: inline-block;
  width: 100%;
  text-align: center;
  font-size: 16px;
  line-height: 40px;
  font-family: $secondary-regular;
  color: $white;

  &--desktop {
    display: none;
  }
}

.donate-form__wrapper {
  width: 100%;
  max-width: 400px;
  display: flex;
  flex-wrap: wrap;

  .button {
    max-width: none;
    &--modal-form {
      max-width: 210px;
      width: 100%;
      height: 60px;
    }
    // &--form-wide {
    //   max-width: 380px;
    // }
  }
}

.donate-form__input-wrapper {
  // width: 54%;
  width: 210px;
  position: relative;
  max-height: 60px;
  margin: 0 auto;
  margin-bottom: 20px;
}

.donate-form__input {
  width: 100%;
  padding: 8px 24px 2px 24px;

  max-width: 400px;
  border: none;
  border: 1px solid #cccccc;
  border-radius: 100px;

  font-family: $primary-regular;
  font-size: 40px;
  color: $accient;
  box-sizing: border-box;

  &--modal {
    width: 210px;
  }
}

.donate-form__input-thumb {
  position: absolute;
  display: block;
  content: "";

  right: 17px;
  top: 0px;
  bottom: 0px;
  margin-top: auto;
  margin-bottom: auto;

  height: 16px;
  width: 66px;

  font-family: $secondary-regular;
  font-size: 16px;
  line-height: 16px;
  color: $faded;
  &--modal-form {
    margin-right: 10px;
  }
  // &--wide {
  //   right: 64px;
  // }
}
.donate-form__title {
  margin: 0;
  margin-bottom: 30px;
  font-family: $primary-medium;
  font-size: $font-size-m;
  color: $primary-text;
  line-height: 24px;
}
// DESKTOP
@media (min-width: $desktop) {
  .donate-form__wrapper {
    max-width: 240px;
    &--modal-row {
      max-width: 486px;
      width: 100%;
      flex-wrap: nowrap;
    }
  }

  .form__text {
    display: block;
    position: relative;
    margin: 0;
    top: 57px;
    right: 160px;
  }
  .donate-form__input {
    &--wide {
      width: 290px;
      margin: 0;
      margin-right: 10px;
      outline: none;
    }
  }

  input[type="text"].donate-form__input--border-yellow:focus,
  input[type="number"].donate-form__input--border-yellow:focus,
  input[type="email"].donate-form__input--border-yellow:focus {
    outline: none;
    box-shadow: 0 0 1px 1px #ffb149;
  }

  input[type="text"].donate-form__input--border-orange:focus,
  input[type="number"].donate-form__input--border-orange:focus,
  input[type="email"].donate-form__input--border-orange:focus {
    outline: none;
    box-shadow: 0 0 1px 1px #ff482f;
  }

  .donate-form {
    align-self: flex-start;
    display: flex;
    flex-direction: column;
    align-items: center;
    &--padding {
      padding: 0;
      margin-left: 120px;
    }
    &--row {
      width: 480px;
      justify-content: space-between;
      flex-direction: row;
      margin-top: 50px;
    }
    &--top {
      margin-top: 76px;
    }
  }

  .donate-form__title {
    margin: 0;
    margin-bottom: 50px;
    font-family: $primary-medium;
    font-size: $font-size-desktop-m;
    color: $primary-text;
    line-height: 24px;
  }

  .donate-wrapper {
    display: flex;
    width: 480px;
    margin: 0;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
  }

  .donate-form__input-wrapper {
    width: 100%;
    position: relative;
    max-height: 60px;
    margin-bottom: 20px;

    display: flex;
    justify-content: space-around;
  }

  .donate-form__input {
    width: 100%;
    padding: 8px 24px 2px 24px;

    max-width: 400px;
    border: none;
    border: 1px solid #cccccc;
    border-radius: 100px;

    font-family: $primary-regular;
    font-size: 40px;
    color: $accient;
    box-sizing: border-box;

    &--modal {
      width: 290px;
      margin-right: 10px;
    }
    // &--modal-wide {
    //   width: 380px;
    // }

    &--modal-form {
      margin: unset;
    }
  }

  .button {
    max-width: none;
    &--modal-form {
      max-width: 240px;
      width: 100%;
      height: 60px;
    }
  }
}

@media (min-width: $desktop-full) {
  .donate-form__wrapper {
    position: relative;

    &--row {
      width: 482px;
      flex-direction: row;
    }
    &--column {
      flex-wrap: wrap;
    }

    .button {
      &--form-wide {
        max-width: 380px;
      }
    }
  }

  .donate-form__text-title {
    position: absolute;
    left: -61px;
    top: 10px;
    max-width: 46px;
    display: block;

    &--desktop {
      display: block;
      left: unset;
      right: -130px;
      max-width: 115px;
    }
  }

  .donate-form__input {
    &--modal-wide {
      width: 380px;
    }
  }

  .donate-form__input-thumb {
    &--wide {
      right: 64px;
    }
  }
}
