.drop-menu {
  width: 100%;
  display: none;
  position: absolute;
  flex-wrap: wrap;
  justify-content: center;
  top: 0;
  left: 0;

  z-index: 100;
  &--bg {
    background-color: #f7a806;
  }
}

.drop-menu__list {
  margin-top: 180px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.drop-menu__link {
  text-decoration: none;
  color: $white;
  font-family: $primary-medium;
  font-size: $font-size-xl;
  margin-bottom: 25px;
}

.drop-menu-button__wrapper {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 65px;

  .button {
    max-width: 163px;
    margin-bottom: 20px;
  }

  .button:last-child {
    margin-bottom: 0;
  }

}

.drop-menu-button {
  width: 160px;
  height: 50px;
  margin-bottom: 20px;
  border: 2px solid rgba(255, 255, 255, 0.25);

}

//DESKTOP
@media (min-width: $desktop) {

  .menu__wrapper {
    width: calc(100% - 175px);
    display: flex;
  }

  .drop-menu__link {
    text-decoration: none;
    color: $white;
    font-family: $secondary-regular;
    font-size: 15px;
    margin: 0;
  }

  .drop-menu__list {
    display: flex;
    order: 2;
  }

  .drop-menu-button {
    box-sizing: content-box;
    min-width: 134px;
    //min-height: 40px;
  }

  .drop-menu {
    position: relative;
    display: flex;
    flex-wrap: nowrap;

    &--bg {
      background-color: transparent;
    }
  }

  .drop-menu-button__wrapper {
    width: 354px;
    flex-direction: row;
    justify-content: space-around;
    order: 3;
    margin-bottom: 0;

    .button {
      font-size: 16px;
      line-height: 16px;
      min-height: auto;
      height: 40px;
      margin-bottom: 0;

      &--login {
        max-width: 134px;
      }

    }

  }

  .drop-menu-button {
    margin-bottom: 0;
    width: 100%;
    max-width: 164px;

    &__login {
      max-width: 134px;
      background-position: 20px 11px;
      background-size: 11px 14px;
    }

  }

  .drop-menu__list {
    margin: 0px;
    display: flex;
    flex-direction: row;
    width: 180px;
    justify-content: space-around;
  }

}

@media (min-width: $desktop-full) {

  .menu__wrapper {
    width: auto;
    flex-grow: 1;
  }

  .drop-menu__link {
    font-size: 16px;
    line-height: 18px;
  }

  .drop-menu__list {
    width: auto;
  }

  .drop-menu__link {
    display: block;
    margin-right: 30px;
    font-size: 16px;
    line-height: 18px;
  }

  .drop-menu-button__wrapper {
    width: 317px;
    justify-content: space-between;
  }

}
