.feedback {
  padding-top: 50px;
  padding-bottom: 64px;
  overflow: hidden;

  @include author-heading-text($primary-text);
  @include title-text($faded, $primary-text);
}

.feedback__title {
  max-width: 500px;
  margin: 0 auto;

  // margin-bottom: 86px;
}

.feedback__item {
  max-width: 500px;
  margin: 0 auto;
}

.feedback__item-wrapper {
  position: relative;
  padding-bottom: 376px;

  &--sober-mobile {
    position: relative;
    padding-bottom: 300px;
  }
}

.feedback__item-text {
  position: relative;
  display: inline-block;
  margin: 0px;

  @include text-main($primary-text);

  .icon {
    position: absolute;
    top: -56px;
    left: -20px;
  }

  &--primary-large {
    font-family: $primary-thin;
    font-size: $font-size-2xl;
    color: $primary-text;
    line-height: 40px;
  }
}

.feedback__img-wrapper {
  width: 373px;
  height: 376px;
  position: absolute;
  bottom: 0px;
  left: -50px;
  right: 0px;
  margin-left: auto;
  margin-right: auto;
}

.feedback__img {
  position: relative;
  width: 100%;
  height: 100%;
  background-image: url("../img/alexandr_img.png");
  -webkit-background-size: 376px 373px;
  background-size: 376px 373px;
  background-repeat: no-repeat;
  //original width="566" height="562"
}

.feedback__video-button {
  position: absolute;
  display: block;
  height: 80px;
  width: 80px;
  bottom: 100px;
  right: 60px;
}

.feedback__video-button:hover,
.feedback__video-button:focus,
.feedback__video-button:active {
  transform: scale(1.25);
}

.feedback__author__quote {
  font-family: $secondary-regular;
  color: $primary-text;
  font-size: $font-size-m;
  line-height: 26px;
}

.feedback-sober__text {
  font-family: $primary-regular;
  font-size: $font-size-xl;
  color: $primary-text;
  text-align: center;
  line-height: 35px;
  margin-bottom: 70px;
}

@media (min-width: $desktop) {
  .feedback {
    padding-top: 129px;
    padding-bottom: 150px;

    &--large-padding {
      padding-bottom: 200px;
    }

    &__title-text {
      width: 100%;
      max-width: 600px;
      text-align: center;
      margin: 0px;
      margin-bottom: 10px;

      &--big {
        max-width: 490px;
        margin-bottom: 0;
      }
    }
  }

  .feedback__title {
    margin-bottom: 160px;
  }

  .feedback__item {
    max-width: none;
  }

  .feedback__item-text {
    margin-bottom: 42px;
    width: 69%;
  }

  .feedback__item-wrapper {
    padding-bottom: 0;
    padding-left: 50%;
  }

  .feedback__img-wrapper {
    width: 566px;
    height: 562px;

    bottom: -270px;
    left: -610px;

    &--bottom {
      top: -150px;
    }
  }

  .feedback__img {
    -webkit-background-size: 95%;
    background-size: 95%;
  }

  .feedback__video-button {
    bottom: 195px;
    right: 110px;
  }

  .feedback__author {
    padding-left: 50%;

    &--narrow {
      width: 33%;
    }
  }

  .feedback-sober__text {
    font-family: $primary-regular;
    font-size: $font-size-desktop-xl;
    text-align: center;
    line-height: 45px;
    width: 70%;
    margin: 0 auto;
    margin-bottom: 140px;
  }
}

@media (min-width: $desktop-full) {
  .feedback {
    &__title {
      max-width: 100%;
      align-items: center;
    }

    &__title-text {
      max-width: 680px;

      &--big {
        font-size: 35px;
        line-height: 45px;
      }
    }
  }
}


/* стили только для IE10 и IE11 */
@media (-ms-high-contrast: active),
(-ms-high-contrast: none) {
  @media (min-width: $mobile) {
    .feedback__author--narrow {
      display: block;
      margin: 0 auto;
      margin-top: 30px;
      margin-bottom: 30px;
      width: 80%;
      max-width: 320px;
    }
  }

  @media (min-width: $desktop) {

    .feedback__author--narrow {
      display: block;
      margin: 0 auto;
      margin-top: 30px;
      margin-bottom: 30px;
      width: 80%;
      max-width: 480px;
    }
  }
}
