.footer {
  padding-top: 40px;
  padding-bottom: 40px;

  &--bg-color {
    background-color: $secondary-bg;
  }
}
.footer-item {
  margin-bottom: 25px;
}

.footer-item__heading {
  font-family: $primary-medium;
  font-size: $font-size-l;
  color: $primary-text;
  line-height: 20px;
  text-decoration: none;
  margin-bottom: 30px;
  display: block;
  position: relative;
}

.footer-item__heading::after {
  content: "▼";
  position: absolute;
  font-size: 14px;
  margin-left: 20px;
  top: 0;
}
.footer-list {
  margin: 0;
  list-style: none;

  max-height: 0;
  overflow: hidden;
}

.footer-list__sober {
  margin: 0;
  list-style: none;
}

.footer-list.show {
  max-height: 100%;
}

.footer-list__item {
  margin-bottom: 20px;
}
.footer-list__link {
  font-family: $secondary-regular;
  font-size: $font-size-s;
  color: $primary-text;
  text-decoration: none;
  line-height: 22px;
}

.props {
  padding-top: 30px;
  padding-bottom: 40px;
}

.props__heading {
  font-family: $primary-medium;
  font-size: $font-size-l;
  color: $primary-text;
}

.props__text-wrapper {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
}

.props__text {
  margin: 0;
  display: block;
  width: 180px;
  font-family: $secondary-regular;
  font-size: $font-size-s;
  color: $primary-text;
  line-height: 22px;
  position: relative;
}

.social {
  padding-top: 30px;
  padding-bottom: 40px;
}
.social__heading {
  font-family: $primary-medium;
  font-size: $font-size-l;
  color: $primary-text;
}

.social-list {
  width: 220px;
  display: flex;
  justify-content: space-between;
  margin: 0;
  list-style: none;
}

.social-list__link {
  font-family: $secondary-regular;
  font-size: $font-size-s;
  color: $primary-text;
  text-decoration: none;
  line-height: 22px;
  display: block;
  width: 46px;
  height: 46px;
  background-repeat: no-repeat;

  &--vk {
    background-image: url("../img/vk.png");
  }
  &--fb {
    background-image: url("../img/fb.png");
  }
  &--yt {
    background-image: url("../img/yt.png");
  }
  &--tg {
    background-image: url("../img/tg.png");
  }
}

.footer-container {
  padding-left: 20px;
  padding-right: 20px;
}

.desktop-footer-container {
  padding: 0;
}

.props,
.social,
.promo-app--border {
  border-top: 2px solid #ece9cb;
}
.props__sober {
  border: none;
}

@media (min-width: $tablet) {
  .props,
  .social,
  .promo-app--border {
    border: none;
  }
  .footer-item__heading {
    text-align: center;
  }
  .footer-list {
    text-align: center;
  }
  .footer-list__wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
}

// DESKTOP
@media (min-width: $desktop) {
  .footer {
    padding-top: 120px;
    padding-bottom: 65px;
  }

  .footer-item {
    width: 100%;
    &--order-left {
      order: -1;
    }
    &--sober-margin {
      margin-left: 80px;
    }
  }

  .footer-item__heading {
    text-align: left;
  }

  .footer-item__heading::after {
    display: none;
  }

  .footer-list {
    text-align: left;
  }

  .footer__wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: flex-start;
    &--reverse {
      flex-direction: row-reverse;
    }
  }

  .footer-container {
    padding-right: 20px;
    padding-left: 20px;
    &--padding-left {
      padding-left: 0px;
    }
  }

  .desktop-footer-container {
    padding-left: 137px;
    padding-right: 137px;
  }

  .props {
    width: 370px;
    padding: 0;
  }

  .props__heading {
    margin-top: 0;
  }
  .props__text {
    width: 310px;
  }
}
