.header {
  width: 100%;
  box-sizing: border-box;
  padding-bottom: 56px;

  &--bg {
    background-image: url("../img/main_bg.png");
    background-repeat: no-repeat;
    background-position: center;
  }
  &--sober-bg {
    background-image: url("../img/bratstvo_main_big.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 1240px;
    margin-bottom: 50px;

    //
    background-color: #4d80a9;
  }

  @include title-text($white, $white);
}

.header__title {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.header-nav {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 25px;
  margin-bottom: 33px;
}

.header__logo-wrapper {
  display: flex;
  align-self: flex-start;
  z-index: 101;
}

.header-nav__logo {
  width: 60px;
  height: 48px;
  background-image: url("../img/icon/main_logo.svg");
  background-repeat: no-repeat;
}

.header-nav__title {
  font-family: $primary-medium;
  font-size: $font-size-m;
  text-transform: uppercase;
  color: $white;

  margin: 0;
  padding: 0;
}

.header-nav__title-caption {
  font-family: $secondary-thin;
  font-size: $font-size-s;
  color: $white;
  text-transform: lowercase;
}

.header__slider {
  &-item {
    display: block;
    padding-left: 20px;
    padding-right: 20px;
  }
  &-text {
    font-family: $primary-regular;
    color: $white;
    font-size: $font-size-s;
    text-align: center;
    line-height: 20px;
    padding: 0;
    margin: 0;
  }
}

// DESKTOP
@media (min-width: $desktop) {
  .header {
    background-repeat: no-repeat;
    background-position: center 0;
    background-size: contain;

    &--bg {
      background-image: url("../img/main_bg.png");
      background-size: 1440px 648px;
    }
  }

  .header__title-text {
    max-width: 521px;
    // &--narrow {
    //   font-family: $primary-thin;
    //   width: 50%;
    // }
  }

  .header-nav {
    width: 100%;
    max-width: 1440px;
    margin: 0 auto;
    margin-bottom: 90px;
    &--space-between {
      display: flex;
      justify-content: space-between;
    }
    &--small {
      margin-bottom: 15px;
    }
  }

  .header__slider {
    &-item {
      display: block;
      padding-left: 80px;
      padding-right: 80px;
    }
    &-text {
      font-family: $primary-regular;
      color: $white;
      font-size: $font-size-desktop-s;
      text-align: center;
      line-height: 30px;
      &--bold {
        font-family: $primary-bold;
      }
    }
  }
}

@media (min-width: $desktop-full) {
  .header {
    padding-bottom: 111px;
    min-height: 648px;
    background-position: center 0;
  }

  .header__title-text {
    max-width: 50%;

    &--big {
      max-width: 100%;
    }
    // &--narrow {
    //   font-family: $primary-thin;
    //   width: 50%;
    // }
  }

  .header-nav {
    width: 100%;
    justify-content: flex-start;
    margin-bottom: 125px;
    &--space-between {
      display: flex;
      justify-content: space-between;
    }
    &--small {
      margin-bottom: 15px;
    }
  }
}
