.header {
  width: 100%;
  box-sizing: border-box;
  padding-bottom: 56px;

  &--bg {
    background-image: url("../img/main_bg.png");
    background-repeat: no-repeat;
    background-position: center;
  }

  &--sober-bg {
    background-image: url("../../img/bratstvo_main_big-filter.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 1240px;
    margin-bottom: 50px;
  }

  &--repair-bg {
    background-image: url(../../img/old_church_small-filter.png);
    background-repeat: no-repeat;
    background-position: 30%;
    background-size: 605px;
  }

  &--remember-bg {
    margin-bottom: 50px;
    background-image: url("../../img/church.jpg");
    background-repeat: no-repeat;
    // background-position: center;
    // background-size: 1240px;
    // margin-bottom: 50px;
  }

  &--grey-bg {
    background-color: rgba(236, 236, 229, 0.23);
  }

  @include title-text($white, $white);


  &__list-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
  }

  &__list {
    list-style: none;
  }

  &__list-item {}

  &__list-link {
    text-decoration: none;
    font-family: $secondary-regular;
    font-size: $font-size-s;
    color: $white;
    line-height: 18px;
  }
}

.header__title {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.header__title-caption {
  font-family: $primary-regular;
  font-size: $font-size-s;
  color: $white;
  text-align: center;
  line-height: 20px;
}

.header-nav {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 25px;
  margin-bottom: 33px;

  &--wide {
    justify-content: space-between;
  }
}

.header__logo-wrapper {
  display: flex;
  align-self: flex-start;
  z-index: 101;
}

.header-nav__logo {
  width: 60px;
  height: 48px;
  background-image: url("../img/icon/main_logo.svg");
  background-repeat: no-repeat;
}

.header-nav__title {
  font-family: $primary-medium;
  font-size: $font-size-m;
  text-transform: uppercase;
  color: $white;

  margin: 0;
  padding: 0;

  &--black-text {
    color: $primary-text;
  }
}

.header-nav__title-caption {
  font-family: $secondary-thin;
  font-size: $font-size-s;
  color: $white;
  text-transform: lowercase;

  &--black-text {
    color: $primary-text;
  }
}

.header__slider {
  &-item {
    display: block;
    padding-left: 20px;
    padding-right: 20px;
  }

  &-text {
    font-family: $primary-regular;
    color: $white;
    font-size: $font-size-s;
    text-align: center;
    line-height: 20px;
    padding: 0;
    margin: 0;
  }
}

.header__title-wrapper {
  display: flex;
  flex-direction: column;
}

.header.thanks-header {
  padding-bottom: 50px;
  padding-top: 30px;
}


@media (min-width: 600px) {
  .header {
    &--repair-bg {
      background-image: url(../../img/old_church_small-filter.png);
      background-repeat: no-repeat;
      background-position: 30%;
      background-size: 905px;
    }
  }
}

@media (min-width: $tablet) {
  .header {
    &--repair-bg {
      background-image: url("../../img/vostanovlenie_svyatyn-filtered.png");
      background-repeat: no-repeat;
      background-position: center;
      background-position-y: 0;
      background-size: 1095px;
      margin-bottom: 50px;
    }
  }
}

// DESKTOP
@media (min-width: $desktop) {
  .header__repair .header__title-caption {
    width: 38%;
  }

  .header__repair .header__title-text--big {
    width: 80%;
  }

  .header {
    background-repeat: no-repeat;
    background-position: center 0;
    background-size: contain;

    &--bg {
      background-image: url("../img/main_bg.png");
      background-size: 1440px 648px;
    }

    &--repair-bg {
      background-image: url("../../img/vostanovlenie_svyatyn-filtered.png");
      background-repeat: no-repeat;
      background-position: center;
      background-position-y: 0;
      background-size: 1440px;
      margin-bottom: 50px;
    }

    &--remember {
      margin-bottom: 120px;
    }

    &__list-wrapper {
      display: flex;
      flex-direction: row;
      width: 372px;
      justify-content: space-between;
      align-items: flex-start;
      order: 3;
    }
  }

  .header__title-text {
    max-width: 521px;
  }

  .header-nav {
    width: 100%;
    max-width: 1440px;
    margin: 0 auto;
    margin-bottom: 90px;

    &--space-between {
      display: flex;
      justify-content: space-between;
    }

    &--small {
      margin-bottom: 15px;
    }

    &__sober {
      margin-bottom: 100px;
    }
  }

  .header__slider {
    &-item {
      display: block;
      padding-left: 80px;
      padding-right: 80px;
    }

    &-text {
      font-family: $primary-regular;
      color: $white;
      font-size: $font-size-desktop-s;
      text-align: center;
      line-height: 30px;

      &--bold {
        font-family: $primary-bold;
      }
    }
  }
}

@media (min-width: $desktop-full) {
  .header {
    padding-bottom: 111px;
    min-height: 648px;
    background-position: center 0;

    &--repair-bg {
      background-image: url("../../img/vostanovlenie_svyatyn-filtered.png");
      background-repeat: no-repeat;
      background-position: center;
      background-position-y: 0;
      background-size: 1440px;
      margin-bottom: 50px;
    }
  }

  .header__title-text {
    max-width: 50%;

    &--big {
      max-width: 100%;
    }
  }

  .header-nav {
    width: 100%;
    justify-content: flex-start;
    margin-bottom: 125px;

    &--space-between {
      display: flex;
      justify-content: space-between;
    }

    &--small {
      margin-bottom: 15px;
    }

    &__sober {
      margin-bottom: 100px;
    }
  }
}

/* стили только для IE10 и IE11 */
@media screen and (-ms-high-contrast: active),
(-ms-high-contrast: none) {

  .header-nav {
    display: flex;
    width: 80%;
  }
}
