.header {
  width: 100%;
  box-sizing: border-box;

  &--bg {
    background-image: url("../img/main_bg.png");
    background-repeat: no-repeat;
    background-position: center;
  }

  @include title-text($white, $white);

}

.header__title {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.header-nav {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 25px;
  margin-bottom: 33px;
}

.header__title {

}

.header__logo-wrapper {
  display: flex;
  z-index: 101;
}

.header-nav__logo {
  width: 60px;
  height: 48px;
  background-image: url("../img/icon/main_logo.svg");
  background-repeat: no-repeat;
}

.header-nav__title {
  font-family: $primary-medium;
  font-size: $font-size-m;
  text-transform: uppercase;
  color: $white;

  margin: 0;
  padding: 0;
}

.header-nav__title-caption {
  font-family: $secondary-thin;
  font-size: $font-size-s;
  color: $white;
  text-transform: lowercase;
}

// DESKTOP
@media (min-width: $desktop) {
  .header {
    &--bg {
      background-image: url("../img/main_bg.png");
      background-repeat: no-repeat;
      background-position: center;
      background-size: contain;
      //margin-bottom: 120px;
      padding-bottom: 84px;
      background-size: 1440px 648px;
    }
  }
  .header-nav {
    width: 100%;
    max-width: 1440px;
    margin: 0 auto;
    margin-bottom: 90px;
  }
}
