.holydays {
  padding-bottom: 65px;

  background-color: $dark-green-bg;
  text-align: center;

  &__title {
    position: relative;
    display: inline-block;
    margin-bottom: 25px;

    font-size: 24px;
    line-height: 35px;
    color: $white;
    font-family: $primary-regular;

    i {
      font-style: normal;
      font-family: $primary-medium;
    }

  }

  &__text {
    position: relative;
    display: inline-block;
    margin-bottom: 65px;

    font-size: 18px;
    line-height: 26px;
    color: $white;
    font-family: $secondary-thin;
  }

}

.holydays__item-wrapper {
  position: relative;
  padding-top: 65px;
  margin-bottom: calc(427px + 60px);

  &::before {
    position: absolute;
    content: '';
    width: calc(100% + 40px);
    height: 100%;
    left: -20px;
    top: 0px;

    background-image: url(../img/bg_green.png);
    background-repeat: no-repeat;
    -webkit-background-size: 1440px 700px;
    background-size: 1440px 700px;
    background-position: center 0;
  }

}

.holydays__img {
  position: absolute;
  width: calc(100% + 40px);
  height: 427px;
  bottom: -427px;
  left: -20px;

  .holydays__img-shadow {
    position: absolute;
    content: '';
    width: 300px;
    height: 427px;
    top: 0px;
    left: 10px;
    opacity: 0.2;
    box-shadow: 0px 28px 30px 0px rgba(33, 33, 33, 1);

    left: 0px;
    right: 0px;
    margin-left: auto;
    margin-right: auto;
  }

  img {
    position: absolute;
    width: 320px;
    height: 427px;
    left: 0px;
    right: 0px;
    margin-left: auto;
    margin-right: auto;
  }

}

@media (min-width: $desktop) {

  .holydays {
    padding-bottom: 100px;
    text-align: left;

    background-image: url(../img/bg_green.png);
    background-repeat: no-repeat;
    -webkit-background-size: 1440px 700px;
    background-size: 1440px 700px;
    background-position: center 0;
  }

  .holydays__item {
    padding-left: 45%;

    margin-bottom: 62px;

    .button {
      margin: 0;
      margin-right: auto;
      max-width: 266px;
    }

  }

  .holydays__item-wrapper {
    padding-top: 100px;
    margin-bottom: 0px;

    &::before {
      display: none;
    }

  }

  .holydays__img {
    width: 340px;
    height: 453px;
    bottom: 0px;
    top: 80px;
    left: -390px;
  }

}

@media (min-width: $desktop-full) {

  .holydays {
    padding-bottom: 85px;

    &__title {
      font-size: 35px;
      line-height: 45px;
      margin-bottom: 50px;
    }

    &__text {
      margin-bottom: 60px;
    }

  }

  .holydays__item-wrapper {
    padding-top: 148px;
    max-width: 504px;
  }

  .holydays__item {
    padding-left: 520px;
  }

  .holydays__img {
    top: 120px;
    left: -460px;
  }

}
