.info-desktop {
  display: none;
}

.info-desktop__right-outer {
  display: none;
  justify-content: center;
  align-items: center;
  min-width: 545px;
  min-height: 326px;
  padding: 5px;

  background-image: linear-gradient(90deg, #dfdfdf 0%, #838383 100%);

  &--color-orange {
    background-image: linear-gradient(90deg, #faa533 0%, #c42f2e 100%);
  }

  &--color-purple {
    background-image: linear-gradient(90deg, #c65ada 0%, #7547b5 100%);

    .info-item__button {
      color: $white;
      background-image: linear-gradient(90deg, #c65ada 0%, #7547b5 100%);
      box-shadow: 0 10px 20px 0 rgba(250, 165, 51, 0.1);
      &:hover,
      &:focus {
        background-image: none;
        background-color: #c65ada;
      }
      &:active {
        background-image: none;
        background-color: #7547b5;
      }
    }

  }

  &--color-green-deep {
    background-image: linear-gradient(90deg, #00c3af 0%, #00954f 100%);

    .info-item__button {
      color: $white;
      background-image: linear-gradient(90deg, #02c7b5 0%, #029550 100%);
      box-shadow: 0 10px 20px 0 rgba(250, 165, 51, 0.1);
      &:hover,
      &:focus {
        background-image: none;
        background-color: #02c7b5;
      }
      &:active {
        background-image: none;
        background-color: #029550;
      }
    }

  }

  &--color-green {
    background-image: linear-gradient(90deg, #5bdbc7 0%, #40a854 100%);
    .info-item__button {
      color: $white;
      background-image: linear-gradient(90deg, #5bdbc7 0%, #40a854 100%);
      box-shadow: 0 10px 20px 0 rgba(250, 165, 51, 0.1);
      &:hover,
      &:focus {
        background-image: none;
        background-color: #5bdbc7;
      }
      &:active {
        background-image: none;
        background-color: #40a854;
      }

    }

  }

  &--color-blue {
    background-image: linear-gradient(90deg, #0085ef 0%, #00a7a7 100%);

    .info-item__button {
      color: $white;
      background-image: linear-gradient(90deg, #0085ef 0%, #00a7a7 100%);
      box-shadow: 0 10px 20px 0 rgba(250, 165, 51, 0.1);
      &:hover,
      &:focus {
        background-image: none;
        background-color: #0085ef;
      }
      &:active {
        background-image: none;
        background-color: #00a7a7;
      }

    }

  }

  &--center-align {
    margin: 0 auto;
  }
}

.info-desktop__right-outer.active {
  display: flex;
}

// DESKTOP
@media (min-width: $desktop) {
  .info-desktop {
    display: block;
    background-color: $primary-bg;
    padding-top: 110px;
    padding-bottom: 70px;
  }
  .info-desktop__wrapper {
    max-width: 1008px;
    margin: 0 auto;
    padding-top: 80px;
    padding-bottom: 80px;
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
  }
  .info-desktop__left_col {
    display: flex;
    align-items: center;

    //width: 320px;
    position: relative;
    //margin-right: 25px;
  }
  .info-desktop__left_col::before {
    position: absolute;
    content: "";

    width: 2px;
    height: 100%;
    top: 0px;
    right: 0;

    background-color: #edede6;
  }

  .info-desktop__right_col {
    background-color: $primary-bg;
    width: 100%;
    min-height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
  }
  .info-desktop__right_col::before {
    content: "";
    width: 80px;
    min-height: 80px;
    position: absolute;
    display: block;
    top: -40px;
    left: 40px;
    background-image: url("../img/icon/main_logo-dark-orange-small.svg");
    background-repeat: no-repeat;
    background-size: contain;
  }
  .info-desktop__list {
    list-style: none;
    text-align: right;
    padding-right: 24px;
  }

  .info-desktop__item {
    font-family: $primary-thin;
    font-size: $font-size-l;

    margin-top: 30px;
    margin-bottom: 30px;

    position: relative;
    cursor: pointer;

    &--color-1 {
      color: $secondary-accient;
    }
    &--color-2 {
      color: $link-color;
    }
    &--color-3 {
      color: $accient;
    }
  }

  .info-desktop__item.active {
    color: $accient-2;
  }

  .info-desktop__item.active::before {
    display: block;
    content: "";
    width: 2px;
    min-height: 50px;
    background-color: $accient-2;
    position: absolute;
    left: 287px;
    top: -15px;
  }

  .info-item {
    display: flex;

    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .info-item__desc {
    max-width: 452px;
    margin: 0 auto;
  }

  .info-item__button {
    padding: 10px 40px 10px 40px;
    max-width: 440px;
    margin: 0 auto;
    font-family: $secondary-regular;
    font-size: $font-size-s;
    line-height: 20px;
    min-height: 60px;
    width: 100%;
    border-radius: 43.5px;
    box-sizing: border-box;
    position: absolute;
    bottom: -30px;
  }
  .info-item__text {
    font-family: $secondary-regular;
    font-size: $font-size-m;
    color: $primary-text;
    text-align: center;
    line-height: 26px;
  }
}
