.location {
  padding-top: 50px;
  // padding-bottom: 50px;

  @include author-heading-text($primary-text);

  @include title-text($faded, $primary-text);

  &__title {
    align-items: center;
    margin-bottom: 65px;
  }

  &__title-text {
    display: inline-block;
    margin-bottom: 15px;
    margin-top: 0;

    &--big {
      margin-bottom: 0;
    }
  }

  &__caption {
    display: block;
    margin: 0 auto;
    margin-top: 40px;
    margin-bottom: 70px;
  }
  &__caption-text {
    margin: 0;
    padding: 0;

    font-family: $primary-regular;
    font-size: $font-size-l;
    color: $faded;
    text-align: center;
    line-height: 30px;
    &--accient {
      font-family: $primary-bold;
      color: $accient;
    }
  }
}

@media (min-width: $desktop) {
  .location {
    padding-top: 125px;
    &__title--big {
      margin-bottom: 65px;
    }
    &__map {
      width: 78%;
      margin: 0 auto;

      // Временно
      max-width: 1025px;
    }

    &__caption {
      display: flex;
    }
    &__caption-text {
      margin: 0;
      padding: 0;

      display: inline;
      font-family: $primary-regular;
      font-size: $font-size-l;
      color: $faded;
      text-align: center;
      line-height: 30px;
      &--accient {
        font-family: $primary-bold;
        color: $accient;
      }
    }
  }
}
