.modal {
  display: none;
  position: relative;
  flex-direction: column;
  top: 20px;
  max-width: 1358px;
  width: 95%;
  position: fixed;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;

  background-color: #ffffff;
  z-index: 103;
  box-shadow: 0 16px 31px 0 rgba(0, 0, 0, 0.5);

  &--overflow {
    position: absolute;
  }

  &__close-btn {
    display: block;
    position: absolute;
    width: 16px;
    height: 16px;
    top: 15px;
    right: 15px;

    font-size: 0px;
    background-image: url("../../img/closer_icon.svg");
    background-color: transparent;
    background-repeat: no-repeat;
    -webkit-background-size: contain;
    background-size: contain;

    z-index: 10;
  }

  &__help-confirm {
    position: absolute;
  }

  &__col-1-caption {
    font-family: $primary-regular;
    font-size: $font-size-s;
    color: $faded;
    text-align: center;
    line-height: 20px;
  }
}

.modal.show {
  display: flex;
}

.modal__col-1 {
  background-color: $grey-bg;
  display: flex;
  justify-content: center;
  align-items: center;

  padding-top: 20px;
  padding-right: 20px;
  padding-bottom: 0;
  padding-left: 20px;
  &--column {
    flex-direction: column;
  }
}

.modal__col-2 {
  padding-top: 0;
  padding-right: 20px;
  padding-bottom: 20px;
  padding-left: 20px;
}

.modal__img-wrapper {
  width: 80%;
  border: 5px solid #efede6;
  padding: 20px;
  margin-bottom: 5px;
}

.modal__img {
  width: 50%;
  max-width: 268px;
  min-height: auto;
}

.modal__row-1 {
  padding-left: 17px;
  padding-right: 17px;
  padding-top: 65px;
  padding-bottom: 40px;
}

.modal__row-2 {
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 40px;
  padding-bottom: 40px;
}

.modal__row-3 {
  padding-left: 18px;
  padding-right: 18px;
  padding-top: 38px;
  margin-bottom: 60px;
  background-color: $secondary-bg;
}

.modal__row-4 {
  padding-left: 18px;
  padding-right: 18px;
  padding-bottom: 60px;
}

.modal__row-5 {
  padding-left: 18px;
  padding-right: 18px;
  padding-top: 38px;
  margin-bottom: 40px;
}

.modal__row-6 {
  padding-left: 18px;
  padding-right: 18px;
  padding-top: 40px;
  padding-bottom: 40px;
}

.modal__help-confirm {
  .modal__col-1 {
    padding: 40px 20px 50px 20px;
    margin-bottom: 20px;
  }

  .modal__border-img {
    width: 100%;
  }
}

// 500
@media (min-width: 500px) {
  .modal__col-1 {
    padding-top: 10px;
    padding-right: 50px;
    padding-bottom: 0;
    padding-left: 50px;
  }

  .modal__col-2 {
    padding-top: 0;
    padding-right: 50px;
    padding-bottom: 10px;
    padding-left: 50px;
  }

  .modal__img {
    min-height: auto;
  }
}

// TABLET
@media (min-width: $tablet) {
  .modal__col-1 {
    padding-top: 10px;
    padding-right: 50px;
    padding-bottom: 0;
    padding-left: 50px;
  }

  .modal__col-2 {
    padding-top: 0;
    padding-right: 50px;
    padding-bottom: 10px;
    padding-left: 50px;
  }
  .modal__img {
    min-height: auto;
  }
}
// DESKTOP
@media (min-width: $desktop) {
  .modal {
    flex-direction: row;
    top: 100px;
    max-width: 1358px;
    width: 95%;

    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;

    background-color: #ffffff;
    z-index: 103;
    box-shadow: 0 16px 31px 0 rgba(0, 0, 0, 0.5);

    &--column {
      flex-direction: column;
    }

    &__close-btn {
      top: 30px;
      right: 30px;
    }

    &__col-1-caption {
      font-family: $primary-regular;
      font-size: $font-size-l;
      color: $faded;
      text-align: center;
      line-height: 30px;
    }
  }

  .modal__col-1 {
    background-color: $grey-bg;

    width: 37%;
    display: flex;
    justify-content: center;
    align-items: center;

    padding: 50px 20px 50px 20px;

    &--column {
      flex-direction: column;
    }
  }

  .modal__col-2 {
    width: 63%;
    padding: 70px 20px 70px 20px;
    position: relative;
  }

  .modal__img-wrapper {
    width: 100%;
    border: 5px solid #efede6;
    padding: 20px;
    margin-bottom: 87px;
  }

  .modal__img {
    width: 270px;
    min-height: 359px;
  }

  .modal__row-1 {
    padding-left: 97px;
    padding-right: 97px;
    padding-top: 165px;
    padding-bottom: 40px;
  }

  .modal__row-2 {
    padding-left: 70px;
    padding-right: 70px;
    padding-top: 70px;
    padding-bottom: 40px;
  }

  .modal__row-3 {
    padding-left: 98px;
    padding-right: 98px;
    padding-top: 98px;
    margin-bottom: 120px;
    background-color: $secondary-bg;
  }

  .modal__row-4 {
    padding-left: 98px;
    padding-right: 98px;
    padding-bottom: 120px;
  }

  .modal__row-5 {
    padding-left: 98px;
    padding-right: 98px;
    padding-top: 93px;
  }

  .modal__row-6 {
    padding-left: 98px;
    padding-right: 98px;
    padding-top: 120px;
    padding-bottom: 146px;
  }

  .modal__help-confirm {
    .modal__col-1 {
      padding: 160px 69px 70px 69px;
    }
  }
}
