.patron {
  padding-top: 65px;
  padding-bottom: 80px;
}

.patron__img-wrapper {
  display: flex;
  justify-content: center;
  margin-bottom: 30px;
}

.patron__img {
  width: 260px;
  height: 340px;
}

.patron-form__wrapper {
  display: flex;
  justify-content: center;
}

.patron-form {
  margin-top: 20px;
}

.patron-form__label {
  font-family: $secondary-regular;
  font-size: $font-size-s;
  line-height: 26px;
  color: $primary-text;
  position: relative;
}

.patron-form__input {
  display: block;
  box-sizing: border-box;
  width: 279px;
  min-height: 60px;
  border: 1px solid #cccccc;
  border-radius: 10px;
  margin-top: 10px;
  margin-bottom: 30px;
  line-height: 26px;
  font-family: $secondary-regular;
  font-size: $font-size-m;
  color: $faded;
  position: relative;
  z-index: 1;
  &--name {
    padding-left: 20px;
  }
  &--date {
    padding-left: 60px;
    position: relative;
  }
  &--email {
    padding-left: 30px;
  }
}

.patron-form__input-wrapper {
  position: relative;

  .icon {
    position: absolute;
    top: 36px;
    left: 0px;
    padding: 20px;
    z-index: 2;
    cursor: pointer;
  }

}

.patron-form__input--date-mobile {
  position: relative;
  &::-webkit-datetime-edit { padding: 1em; }
  &::-webkit-datetime-edit-fields-wrapper { background: silver; }
  &::-webkit-datetime-edit-text { color: red; padding: 0 0.3em; }
  &::-webkit-datetime-edit-month-field { color: blue; }
  &::-webkit-datetime-edit-day-field { color: green; }
  &::-webkit-datetime-edit-year-field { color: purple; }
  &::-webkit-inner-spin-button { display: none; }
  &::-webkit-calendar-picker-indicator { background: orange; }
}

.patron__button {
  width: 260px;
  //height: 60px;
  margin: 0 auto;
}

.patron__button-link {
  font-family: $secondary-regular;
  font-size: $font-size-xs;
  line-height: 16px;
  text-decoration: none;
  color: $white;
}

// DESKTOP
@media (min-width: $desktop) {
  .patron {
    padding-top: 110px;
    padding-bottom: 90px;
  }

  .patron__wrapper {
    margin: 0 auto;
    display: flex;
    width: 100%;
    margin: 0 auto;
    justify-content: space-around;
    flex-wrap: wrap;
    margin-top: 65px;
  }

  .patron-form__wrapper {
    margin-left: 20px;
  }

  .patron__img {
    width: 340px;
    height: 460px;
  }
  .patron-form__input {
    width: 460px;
  }
  .patron__button {
    width: 330px;
    margin: 0;
  }

}
