.personal-history {
  padding-top: 40px;

  &--bg {
    background-image: url("../../img/bratstvo_main_big-filter.png");
    background-repeat: no-repeat;
    background-position: 50% 0;
    background-size: 1360px;
    margin-bottom: 50px;
  }

  // @include author-heading-text($primary-text);
  // @include title-text($faded, $primary-text);

  &__title {
    margin: 0;
    padding: 0;
    font-family: $primary-regular;
    font-size: $font-size-xl;
    color: $white;
    text-align: center;
    line-height: 35px;

    margin-bottom: 30px;
  }

  &__author {
    align-self: center;
    text-align: center;
  }

  &__author-name {
    margin: 0;
    padding: 0;
    font-family: $primary-medium;
    font-size: $font-size-desktop-m;
    color: $primary-text;
    line-height: 24px;

    margin-bottom: 10px;
    &--accient {
      color: $white;
    }
  }

  &__author-caption {
    margin: 0;
    padding: 0;
    font-family: $secondary-regular-italic;
    font-size: $font-size-s;
    color: $white;
    line-height: 26px;
  }

  &__author-item {
    display: flex;
    flex-direction: column;
    margin-bottom: 95px;
  }

  &__img-wrapper {
    width: 280px;
    align-self: center;
    margin: 0 auto;
    margin-bottom: 25px;
  }

  .gallery__title {
    margin-bottom: 25px;
  }
  .gallery__content-text{
    margin-bottom: 40px;
  }
  .gallery__wrapper {
    margin-bottom: 50px;
  }
}


@media (min-width: $desktop) {

  .personal-history {
    padding-top: 120px;

    &--bg {
      background-image: url("../../img/bratstvo_main_big-filter.png");
      background-repeat: no-repeat;
      background-position: 50% 0;
      background-size: 1360px;
      margin-bottom: 50px;
    }

    // @include author-heading-text($primary-text);
    // @include title-text($faded, $primary-text);

    &__title {
      margin: 0;
      padding: 0;
      font-family: $primary-regular;
      font-size: $font-size-desktop-2xl;
      color: $white;
      text-align: center;
      line-height: 50px;

      margin-bottom: 113px;
    }

    &__author {
      align-self: center;
      text-align: center;
    }

    &__author-name {
      margin: 0;
      padding: 0;
      font-family: $primary-medium;
      font-size: $font-size-desktop-m;
      color: $primary-text;
      line-height: 24px;

      margin-bottom: 10px;
      &--accient {
        color: $accient;
      }
    }

    &__author-caption {
      margin: 0;
      padding: 0;
      font-family: $secondary-regular-italic;
      font-size: $font-size-s;
      color: $faded;
      line-height: 26px;
    }

    &__author-item {
      display: flex;
      flex-direction: column;
      margin-bottom: 0;
    }

    &__img-wrapper {
      width: unset;
      align-self: center;
      margin-bottom: 65px;
    }

    .gallery__title {
      margin-bottom: 25px;
    }
    .gallery__content-text{
      margin-bottom: 80px;
    }
    .gallery__wrapper {
      margin-bottom: 90px;
    }
  }

}
