.pod {
  &--main-padding {
    padding-bottom: 100px;
  }

  overflow: hidden;

  @include author-heading-text($primary-text);

  @include title-text($faded, $primary-text);

  &__title {
    align-items: center;
    margin-bottom: 25px;
  }

  &__title-text {
    display: inline-block;
    margin-bottom: 15px;
    margin-top: 0;

    &--big {
      margin-bottom: 0;
    }

    &--big-modal {
      font-size: $font-size-desktop-xl;
      color: $primary-text;
      line-height: 45px;
    }
  }

  &__author {
    margin-bottom: 40px;
  }

  &__author-heading {
    margin-bottom: 5px;
  }

  &--grey-bg {
    padding-top: 50px;
    background-color: rgba(236, 236, 229, 0.23);
  }

  &__greeting-text {
    display: block;
  }
}

.pod-item--arrows-thumbs--left,
.pod-item--arrows-thumbs--right {
  display: none;
}

.pod__item {
  max-width: 500px;
  margin: 0 auto;
}

.pod__item-wrapper {
  position: relative;
  padding-bottom: 384px;

  &--modal {
    padding-bottom: 284px;
  }
}

.pod-item__title-text {
  font-family: $primary-thin;
  font-size: 30px;
  line-height: 40px;
}

.pod__img-wrapper {
  position: absolute;
  width: 468px;
  height: 384px;
  bottom: 0px;
  left: -35%;
  // left: -65px;
  right: 0px;
  margin-left: auto;
  margin-right: auto;

  &--modal {
    width: 320px;
    height: 285px;
  }

  &--sober {
    bottom: -20px;
    left: -95px;
  }
}

.pod__img {
  width: 468px;
  height: 384px;
  margin: 0 auto;
  background-image: url("../img/batushka_img.png");
  background-size: 468px 384px;
  background-repeat: no-repeat;

  &--modal {
    background-size: 100%;
    width: 71%;
    // margin: 0 auto;
    left: -10px;
    position: relative;
  }

  &--sober {
    width: 280px;
    background-image: url("../img/woman_sad.png");
    background-size: 280px;
    background-repeat: no-repeat;
  }

  &--repair {
    width: 280px;
    background-image: url("../img/old_church_small.png");
    background-size: 280px;
    background-repeat: no-repeat;
  }

  &--repair-done {
    width: 280px;
    background-image: url("../img/woman_sad.png");
    background-size: 280px;
    background-repeat: no-repeat;
  }
}

.pod__quote-text {
  margin: 0px;
  margin-bottom: 40px;
  @include text-main($primary-text);

  &--accient {
    display: block;
    margin-top: 10px;
    font-family: $primary-medium;
    font-size: $font-size-xl;
    color: $accient;
    line-height: 24px;
  }
}

.pod__quote-link {
  font-size: 18px;
  line-height: 26px;
  color: $link-color;
  font-family: $secondary-regular;
}

//
.history-slider {
  margin-bottom: 90px;
}

.history-slider__caption {
  font-family: $secondary-regular;
}

.history-slider__img {
  margin-bottom: 15px;
}

@media (min-width: 500px) {
  .pod__img-wrapper {
    position: absolute;
    width: 468px;
    height: 384px;
    bottom: 0px;
    left: -90px;
    right: 0px;
    margin-left: auto;
    margin-right: auto;

    &--modal {
      width: 480px;
      height: 285px;
    }
  }
}

@media (min-width: $tablet) {
  .pod__img {
    &--sober {
      width: 380px;
      // background-image: url("../../img/woman_sad.png");
      background-size: 380px;
      background-repeat: no-repeat;
      // margin-bottom: 30px;
    }
  }
}

@media (min-width: $desktop) {
  .pod {
    &--main-padding {
      padding-bottom: 180px;
    }

    .donate-form {
      padding: 0px;
    }

    .donate-form__wrapper {
      max-width: 100%;
      width: 100%;
      flex-wrap: nowrap;

      &--modal-row {
        width: 482px;
        flex-wrap: nowrap;
      }
    }

    .donate-form__input-wrapper {
      max-width: 290px;
      margin-bottom: 0;
      margin-right: 10px;
    }

    .button {
      height: auto;
      max-width: 192px;

      // max-width: 270px;
    }

    &--grey-bg {
      padding-top: 120px;
      background-color: rgba(236, 236, 229, 0.23);
    }
  }

  .pod__item {
    max-width: 50%;
    margin: unset;
    margin-right: auto;

    position: relative;
  }

  .pod-item__title {
    padding-top: 50px;

    &--unset-padding {
      padding: 0;
    }

    &--small-padding {
      padding-top: 30px;
    }
  }

  .pod__item-wrapper {
    padding-bottom: 0;

    &--narrow {
      padding-left: 85px;
    }
  }

  .pod__img-wrapper {
    width: 650px;
    height: 533px;

    left: 460px;
    top: 0px;

    &--modal {
      width: 586px;
      left: 81%;
    }

    &--sober {
      width: 460px;
      left: 500px;
    }
  }

  .pod__img {
    width: 100%;
    height: 100%;
    background-size: 100%;

    &--modal {
      width: 75%;
    }

    &--sober {
      width: 460px;
    }
  }

  .pod__quote-text {
    &--narrow {
      width: 77%;
      padding-left: 85px;
    }
  }

  .history-slider {
    padding-top: 80px;

    &--repair {
      padding-top: 20px;
    }
  }

  .pod__author {
    &--narrow {
      padding-left: 85px;
    }
  }

  .repair-history .pod__title-text--big-modal {
    width: 75%;
  }
}

@media (min-width: $desktop-full) {
  .pod {
    &--main-padding {
      padding-bottom: 204px;
    }

    &__title-text--big {
      margin-bottom: 75px;
    }
  }

  .pod__item {
    max-width: 510px;
  }

  .pod-item__title {
    padding-top: 70px;

    &--unset-padding {
      padding: 0;
    }

    &--small-padding {
      padding-top: 30px;
    }
  }

  .pod-item__title-text {
    margin-top: 0;
    margin-bottom: 40px;
    // width: 92%;
    width: 86%;
  }

  .pod__img-wrapper {
    left: 500px;

    &--sober {
      left: 580px;
    }
  }

  .pod__author {
    margin-bottom: 50px;

    &--55ow {
      padding-left: 85px;
    }
  }
}

@media (min-width: $desktop-l) {
  .pod-item--arrows-thumbs--left {
    content: "";
    display: block;
    position: absolute;
    width: 55px;
    height: 55px;
    background-image: url("../../img/icon/arrows_mini_left.svg");
    background-repeat: no-repeat;
    left: -15%;
    top: 49%;

    border-radius: 50px;
    background-position: 50% 45%;

    &:hover {
      border: 1px solid #CCCCCC;
    }

    &:focus {
      border: 1px solid #CCCCCC;
    }

    &:active {
      border: 1px solid #FF482F;
    }
  }

  .pod-item--arrows-thumbs--right {
    content: "";
    display: block;
    position: absolute;
    width: 55px;
    height: 55px;
    background-image: url("../../img/icon/arrows_mini_right.svg");
    background-repeat: no-repeat;
    right: -135%;
    top: 49%;

    border-radius: 50px;
    background-position: 50% 45%;

    &:hover {
      border: 1px solid #CCCCCC;
    }

    &:focus {
      border: 1px solid #CCCCCC;
    }

    &:active {
      border: 1px solid #FF482F;
    }
  }
}
