.promo-app {
  padding-top: 30px;

  &__main {
    display: flex;
    position: relative;

    &::before {
      content: "";
      display: block;
      position: absolute;
      width: 16px;
      height: 19.6px;
      background-image: url("../../img/apple_mini-white.svg");
      background-repeat: no-repeat;
      background-position: 0 0;
      background-size: 100%;
      left: -10px;
    }

    &::after {
      content: "";
      display: block;
      position: absolute;
      width: 16px;
      height: 19.6px;
      background-image: url("../../img/google_mini-white.svg");
      background-repeat: no-repeat;
      background-position: 0 0;
      background-size: 100%;
      top: 25px;
      left: -10px;
    }
  }
}

.promo-app--right {
  display: none;
}

.promo-app__heading {
  font-family: $primary-medium;
  font-size: $font-size-l;
  color: $primary-text;

  &--white-text {
    color: $white;
  }
}

.promo-app__text {
  font-family: $secondary-regular;
  color: $primary-text;
  padding-left: 35px;
  padding: 0;
  margin: 0;

  text-decoration: none;

  &--white-text {
    color: $white;
  }

  &--small {
    font-size: $font-size-2xs;
    line-height: 14px;
    margin-left: 20px;
  }
}

.promo-app__text-wrapper {
  position: relative;
  margin-bottom: 20px;
}

.phone-thumb::before {
  content: "";
  display: block;
  position: absolute;
  width: 16px;
  height: 27px;
  background-image: url("../img/phone_mini.svg");
  background-repeat: no-repeat;
  top: 0;
  left: -10px;

  &--white {
    background-image: url("../img/phone_mini-white.svg");
  }
}

.phone-thumb--white::before {
  content: "";
  display: block;
  position: absolute;
  width: 16px;
  height: 27px;
  background-image: url("../img/phone_mini_white.svg");
  background-repeat: no-repeat;
  top: 0;
  left: -15px;
}

.promo-app__logos {
  width: 75px;
  min-height: 35px;
  display: flex;
  justify-content: space-between;
  align-items: center;

  &--margin-bottom {
    margin-bottom: 30px;
  }

  &--header {
    margin: 0;
    padding-left: 20px;
  }
}

.promo-app__logos-link {
  display: block;
  width: 22px;
  height: 27px;
  align-self: center;
  background-repeat: no-repeat;

  &--appstore {
    background-image: url("../img/apple_mini.svg");
  }

  &--playstore {
    background-image: url("../img/google_mini.svg");
    align-self: flex-end;
  }

  &--appstore-white {
    background-image: url("../img/apple_mini-white.svg");
  }

  &--playstore-white {
    background-image: url("../img/google_mini-white.svg");
    align-self: flex-end;
  }
}

@media (min-width: $desktop) {

  .promo-app {
    order: 1;
  }

  .promo-app__logos {
    display: none;

    &--margin-left {
      margin-left: 20px;
    }
  }

  .promo-app--order {
    margin: 0;
    padding: 0;
    order: 1;
    margin-right: auto;
    margin-left: 40px;
  }

  .promo-app--right {
    display: block;
    margin-right: unset;
  }

  .promo-app__text-wrapper {
    margin-bottom: 0;
  }

  .promo-app__text--small {
    font-size: 12px;
    line-height: 14px;
    margin-left: 20px;
  }

  .promo-app__text-wrapper .phone-thumb .phone-thumb--white {
    margin-bottom: 0;
  }

  .promo-app__text .promo-app__text--small .promo-app__text--white-text {
    margin: 0px;
  }

  .promo-app__logos--desktop {
    width: 75px;
    min-height: 35px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 10px;
  }

}

@media (min-width: $desktop-full) {

  .promo-app--order {
    margin-left: 69px;
  }

  .promo-app__text--small {
    font-size: 12px;
    line-height: 14px;
    margin-left: 20px;
  }

}
