.shop {
  padding-top: 70px;
  padding-bottom: 50px;
  background-color: $primary-bg;
}
.shop__logo {
  width: 60px;
  // height: 60px;
  display: block;
  margin: 0 auto;
  margin-bottom: 20px;
  // background-image: url("../img/icon/main_logo-red-medium.svg");
}

.shop-desc__text {
  text-align: center;
  font-family: $primary-regular;
  font-size: $font-size-l;
  color: $primary-text;
  line-height: 30px;
  display: block;
  width: 80%;
  margin: 0 auto;
  margin-bottom: 40px;
}

.shop__button {
  width: 280px;
  margin: 0 auto;
}

.shop__button-link {
  text-decoration: none;
  color: $white;
  font-family: $secondary-regular;
  font-size: $font-size-s;
  line-height: 16px;
}

// DESKTOP
@media (min-width: $desktop) {
  .shop {
    padding-top: 90px;
    padding-bottom: 110px;
    margin-bottom: 60px;
  }
  .shop-desc__text {
    margin-top: 30px;
    margin-bottom: 36px;
  }
}
