.shop-carousel__item-link {
  display: block;
  margin: 0 auto;
  margin-top: 30px;
  margin-bottom: 30px;
  text-align: center;
  text-decoration: none;
  font-family: $primary-medium;
  font-size: $font-size-l;
  color: #212121;
  line-height: 24px;
}
