.thanks-header {
  &__title {
    margin: 0;
    padding: 0;

    font-family: $primary-regular;
    font-size: $font-size-xxl;
    line-height: 35px;

    display: flex;
    flex-direction: column;
    align-items: center;

    // width: 100%;
  }

  &__title-text {
    display: inline-block;
    margin: 0;
    padding: 0;
    color: $primary-text;

    text-align: center;
    margin-bottom: 50px;

    &--big {
      font-size: $font-size-desktop-xl;
      color: $accient-success;

      margin-bottom: 30px;
    }
  }

  &__title-lead {
    font-family: $primary-regular;
    font-size: $font-size-l;
    color: $primary-text;
    // letter-spacing: 0;
    text-align: center;
    line-height: 30px;
  }

  .header-nav {
    margin-bottom: 30px;
  }

  &__callback {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &__accient-text {
    margin: 0;
    padding: 0;

    font-family: $primary-regular;
    font-size: $font-size-l;
    color: $accient;
    text-align: center;
    line-height: 24px;

    margin-bottom: 40px;
  }

  &__callback-caption {
    margin: 0;
    padding: 0;

    display: block;
    font-family: $primary-regular;
    font-size: $font-size-l;
    color: $primary-text;
    line-height: 30px;
    text-align: center;

    margin-bottom: 5px;
  }

  &__accient-text {
    margin: 0;
    padding: 0;

    font-family: $primary-regular;
    font-size: $font-size-l;
    color: $accient;
    text-align: center;
    line-height: 24px;

    margin-bottom: 5px;
  }

  &__callback-change {
    margin: 0;
    padding: 0;

    display: block;
    font-family: $primary-regular;
    font-size: $font-size-l;
    color: $faded;
    text-decoration-style: dotted;
    line-height: 30px;
  }
}


@media (min-width: $desktop) {
  .thanks-header {
    &__title {
      margin: 0;
      padding: 0;

      font-family: $primary-regular;
      font-size: $font-size-desktop-xl;
      line-height: 45px;

      display: flex;
      flex-direction: column;
      align-items: center;

      // width: 100%;
      // margin: 0 auto;
    }

    &__title-text {
      margin: 0;
      padding: 0;
      color: $primary-text;
      margin-bottom: 50px;

      &--big {
        font-size: $font-size-desktop-2xl;
        color: #029754;
        margin-bottom: 20px;
      }

      &--narrow {
        width: 72%;
      }
    }

    &__title-lead {
      &--narrow {
        width: 64%;
      }
    }
  }
}

/* стили только для IE10 и IE11 */
@media (-ms-high-contrast: active),
(-ms-high-contrast: none) {
  @media (min-width: $mobile) {
    .join-pray__img-wrapper {
      width: 95%;
      max-width: 520px;
    }
    .thanks-header__title-text {
      display: block;
      margin: 0 auto;
      margin-top: 30px;
      margin-bottom: 30px;
      width: 90%;
      max-width: 320px;
    }
  }

  @media (min-width: $desktop) {
    .thanks-header__title-text {
      display: block;
      margin: 0 auto;
      margin-top: 30px;
      margin-bottom: 30px;
      width: 90%;
      max-width: 1024px;
    }
  }
}
