.yt-channel {
  padding-top: 40px;
  padding-bottom: 40px;
  margin-bottom: 65px;
}
.yt__desc {
  width: 270px;
  margin: 0 auto;
  display: flex;
  // flex-direction: column;
  justify-content: space-around;
  align-items: center;
  margin-top: 20px;
  margin-bottom: 50px;
}
.yt__desc-button {
  display: none;
}
.yt__desc-img {
  width: 60px;
  height: 60px;
  background-image: url("../img/logo_youtube.png");
  background-repeat: no-repeat;
}
.yt__text {
  font-family: $secondary-regular;
  font-size: $font-size-s;
  line-height: 20px;
  margin: 0;
  &--large {
    font-family: $primary-regular;
    font-size: $font-size-l;
    margin: 0;
    margin-bottom: 5px;
  }
  &--grey {
    color: $faded;
     line-height: 18px;
  }
}
.yt__desc-inner {
  width: 240px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}
.yt__items-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.yt__video-preview {
  width: 260px;
  height: 230px;
  margin-bottom: 20px;
  display: flex;
  justify-content: center;
  align-items: center;

  background-repeat: no-repeat;
  &--1 {
    background-image: url("../img/youtube_preview_1.png");
  }
  &--2 {
    background-image: url("../img/youtube_preview_2.png");
  }
  &--3 {
    background-image: url("../img/youtube_preview_3.png");
  }
}
.yt__button {
  width: 160px;
  height: 60px;
  background-color: rgba(33, 33, 33, 0.5);
  // opacity: 0.8;
}

.yt__button-thumb {
  display: block;
  // content: "►";
  // color: $white;
  margin: 0 auto;
  width: 12px;
  height: 15px;
  background-image: url("../img/play_icon.svg");
  background-repeat: no-repeat;
}

.yt__button-text {
  display: none;
  font-family: $secondary-regular;
  font-size: $font-size-s;
  color: $white;
}

.yt__item-caption {
  display: block;
  max-width: 260px;
  font-family: $secondary-regular;
  font-size: $font-size-s;
  color: $primary-text;
  line-height: 25px;
  margin-bottom: 30px;
}

.yt__sub-button {
  width: 260px;
  height: 60px;
  margin-bottom: 60px;
  background-color: $yt-red;
  display: flex;
  margin: 0 auto;
  align-items: center;
  line-height: 16px;
}

.yt__sub-button-thumb {
  display: block;
  margin-right: 20px;
  width: 24px;
  height: 17px;
  background-image: url("../img/youtube_icon.png");
  background-repeat: no-repeat;
}
.yt__sub-button-inner {
  display: block;
  width: 160px;
}

.yt__sub-button-text {
  text-align: left;
  display: block;
  font-family: $secondary-regular;
  font-size: $font-size-ms;
  color: $white;
}

// DESKTOP
@media (min-width: 1024px) {
  .yt-channel {
  padding-top: 120px;
  padding-bottom: 120px;
  margin-bottom: 120px;
}
  .yt__desc {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin-top: 20px;
    margin-bottom: 50px;
  }
  .yt__desc-button {
    display: flex;
    align-self: center;
    width: 270px;
    min-height: 60px;
    border: 2px solid rgba(33, 33, 33, 0.2);
  }

  .yt__sub-button-inner {
    display: block;
    width: 260px;
    text-align: left;
  }

  .yt__button {
    width: 267px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .yt__sub-button-text {
  text-align: center;
  display: block;
  font-size: $font-size-s;
}
  .yt__button-text {
    display: block;
    padding-right: 30px;
  }
  .yt__items-wrapper {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: flex-start;
    flex-wrap: wrap;
  }
  .yt__video-preview {
    width: 366px;
    min-height: 230px;
  }
  .yt__sub-button {
    width: 365px;
  }
}
