.app {
  margin-bottom: 50px;
  font-family: "Museo Sans Cyrl Bold";
}

.app__image {
  width: 254px;
  min-height: 225px;
  background-image: url("../img/iphone_x.png");
  background-repeat: no-repeat;
  margin: 0 auto;
  margin-bottom: 45px;
}

.app__wrapper-list {
  width: 230px;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
}

.app__list {
  list-style: none;
}

.app__item {
  font-family: $secondary-regular;
  font-size: $font-size-s;
  color: $primary-text;
  line-height: 26px;
  margin-bottom: 20px;
  position: relative;
}

.app__item::before {
  content: "•";
  position: absolute;
  font-size: 24px;
  color: $list-dot;
  left: -20px;
}

.app__text {
  font-family: $primary-regular;
  font-size: $font-size-s;
  line-height: 20px;
  &--large {
    font-family: $primary-regular;
    font-size: $font-size-xl;
    margin: 0;
    line-height: 30px;
  }
  &--grey {
    font-family: $secondary-regular;
    color: $faded;
    font-style: italic;
  }
}

.app__logos {
  display: flex;
  flex-direction: column;
  align-self: center;
  margin: 25px 0;
}

.app__logo {
  width: 177px;
  height: 60px;
  background-repeat: no-repeat;
  background-position: center;
  margin-bottom: 10px;
  &--appstore {
    background-image: url("../img/app_store.svg");
  }
  &--playstore {
    background-image: url("../img/google_play.svg");
  }
}

//DESKTOP
@media (min-width: $desktop) {
  .app__wrapper-list {
    width: 480px;
  }
  .app__wrapper {
    margin-top: 55px;
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-around;
  }
  .app__image {
    min-height: 510px;
  }
.app__desktop-wrapper {
  width: 500px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
  .app__logos {
    display: flex;
    flex-direction: row;
    align-self: center;
    margin: 25px 0;
  }
  .app__logo:first-child {
    margin-right: 10px;
  }
}
