.button {
display: flex;
justify-content: center;
align-items: center;
text-decoration: none;
text-align: center;
margin: 0 auto;
width: 240px;
min-height: 60px;
border: none;
border-radius: 50px;

    &--big {
        font-family: $secondary-regular;
        font-size: $font-size-s;
        line-height: 20px;

        width: 100%;
        max-width: 273px;
        padding: 26px 38px 21px 40px;
        border-radius: 43.5px;
        box-sizing: border-box;
    }

    &--white-green {
        color: #026837;
        border: 2px solid #026837;
        background-color: #FFFFFF;
    }

    &--white-blue {
        color: #1B1564;
        border: 2px solid #1B1564;
        background-color: #FFFFFF;
    }

}

.button--yellow {
    background-image: linear-gradient(90deg, #f7f606 0%, #f7a406 100%);
    box-shadow: 0 10px 20px 0 rgba(250, 165, 51, 0.1);
    margin-bottom: 55px;
}

.button--green {
    background-image: linear-gradient(90deg, #02c7b5 0%, #029550 100%);
    box-shadow: 0 10px 20px 0 rgba(250, 165, 51, 0.1);

}

.button--blue {
    background-image: linear-gradient(90deg, #4794ef 0%, #2fb9aa 100%);
    box-shadow: 0 10px 20px 0 rgba(250, 165, 51, 0.1);

}

.button--orange {
    background-image: linear-gradient(90deg, #faa533 0%, #c42f2e 100%);
    box-shadow: 0 10px 20px 0 rgba(250, 165, 51, 0.1);

}

.button--red {
    background: #ea3518;
}

.button__text {

    font-family: $secondary-regular;
    font-size: $font-size-s;

    &--black {
        color: $primary-text;
    }

    &--white {
        color: $white;
    }

}
