.button {
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  text-align: center;
  // margin: 0 auto;
  width: 240px;
  min-height: 60px;
  border: none;
  border-radius: 50px;
  box-sizing: content-box;

  &--big {
    // margin-top: 25px;
    font-family: $secondary-regular;
    font-size: $font-size-s;
    line-height: 20px;
    width: 100%;
    max-width: 273px;
    min-height: 85px;
    padding: 10px 40px 10px 40px;
    border-radius: 43.5px;
    box-sizing: border-box;
  }

  &--white-green {
    color: #026837;
    border: 2px solid #026837;
    background-color: #ffffff;
    margin: 0 auto;
  }

  &--white-blue {
    color: #1b1564;
    border: 2px solid #1b1564;
    background-color: #ffffff;
    margin: 0 auto;
    margin-top: 60px;
  }
}

.button--yellow {
  background-image: linear-gradient(90deg, #f7f606 0%, #f7a406 100%);
  box-shadow: 0 10px 20px 0 rgba(250, 165, 51, 0.1);
  margin-bottom: 55px;
}

.button--green {
  background-image: linear-gradient(90deg, #02c7b5 0%, #029550 100%);
  box-shadow: 0 10px 20px 0 rgba(250, 165, 51, 0.1);
}

.button--blue {
  background-image: linear-gradient(90deg, #2fb9aa 0%, #4794ef 100%);
  box-shadow: 0 10px 20px 0 rgba(250, 165, 51, 0.1);
}

.button--orange {
  background-image: linear-gradient(90deg, #faa533 0%, #c42f2e 100%);
  box-shadow: 0 10px 20px 0 rgba(250, 165, 51, 0.1);
}

.button--red {
  background: #ea3518;
}

.button__text {
  font-family: $secondary-regular;
  font-size: $font-size-s;

  &--black {
    color: $primary-text;
  }

  &--white {
    color: $white;
  }

  &--red {
    color: $yt-red;
  }
}

//DESKTOP
@media (min-width: $desktop) {
  .button {
    &--big {
      padding: 10px 40px 10px 40px;
      max-width: 440px;
      margin-top: 45px;

      font-family: $secondary-regular;
      font-size: $font-size-s;
      line-height: 20px;
      min-height: 60px;

      width: 100%;
      // max-width: 273px;
      border-radius: 43.5px;
      box-sizing: border-box;
    }
  }
}
