.button__wrapper {
  width: 100%;
  display: flex;
  justify-content: center;
}

.button {
    width: 240px;
    height: 60px;
    border: none;
    border-radius: 100px;
}

.button--yellow {
    background-image: linear-gradient(90deg, #f7f606 0%, #f7a406 100%);
    box-shadow: 0 10px 20px 0 rgba(250, 165, 51, 0.1);
    margin-bottom: 55px;
}

.button--green {
    background-image: linear-gradient(90deg, #02C7B5 0%, #029550 100%);
    box-shadow: 0 10px 20px 0 rgba(250, 165, 51, 0.1);
    margin-bottom: 55px;
}

.button__text {
    @include SC500-s;
    &--black {
        color: $primary-text;
    }
    &--white {
        color: $white;
    }
}
