// Colors
$white: #fff;
$primary-text: #212121;
$faded: #9b9b9b;
$accient: #ff482f;

// Typography
@mixin MC500-s {
    font-family: "Museo Cyrillic";
    font-size: 16px;
    font-weight: 500;
}

@mixin MC300-s {
    font-family: "Museo Cyrillic";
    font-size: 16px;
    font-weight: 300;
}

@mixin MC500-xl {
    font-family: "Museo Cyrillic";
    font-size: 25px;
    font-weight: 500;
}

@mixin MSC500-s {
    font-family: "Museo Sans Cyrl";
    font-size: 16px;
    font-weight: 500;
}

@mixin MC500-3xl {
    font-family: "Museo Cyrillic";
    font-size: 40px;
    font-weight: 500;
}

@mixin MC700-m {
    font-family: "Museo Cyrillic";
    font-size: 18px;
    font-weight: 700;
}
