.donate-form {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.form__text {
  font-family: $secondary-regular;
  font-size: $font-size-s;
  color: $white;
  margin-bottom: 20px;
}
.donate-form__input-caption {
  font-family: $secondary-regular;
  font-size: $font-size-s;
  color: $white;
  display: none;
}

.donate-form__input {
  font-family: $primary-regular;
  font-size: $font-size-3xl;
  color: $accient;
  box-sizing: border-box;
  padding-left: 24px;
  margin-bottom: 20px;
}

.donate-input-wrapper {
  display: block;
  position: relative;
}

.donate-input__thumb {
  display: block;
  content: "";
  position: absolute;
  font-family: $secondary-regular;
  font-size: $font-size-s;
  color: $faded;
  font-style: italic;
  top: 20px;
  right: 20px;
}

.donate-form__input {
  width: 240px;
  height: 60px;
  border: none;
  border: 1px solid #cccccc;
  border-radius: 100px;
}

// DESKTOP
@media (min-width: $desktop) {
  .form__text {
    display: block;
    position: relative;
    margin: 0;
    top: 57px;
    right: 160px;
  }
  .donate-form__input {
  &--wide {
    width: 290px;
    margin: 0;
    margin-right: 10px;
  }
}
.donate-form {
  &--row {
    width: 480px;
    justify-content: space-between;
    flex-direction: row;
    margin-top: 50px;
  }
}
  .donate-form__input-caption {
    display: block;
    position: relative;
    margin: 0;
    top: 39px;
    left: 190px;
  }

  .donate-wrapper {
    display: flex;
    width: 480px;
    margin: 0;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
  }
}
