.feedback {
  margin-bottom: 30px;
}
.feedback__lead-text {
  font-family: $secondary-thin;
  font-size: $font-size-m;
  color: $primary-text;
  line-height: 26px;
  margin-top: 60px;
  position: relative;
}

.feedback__lead-thumb {
  position: absolute;
  box-sizing: content-box;
  font-family: $primary-regular;
  font-size: 100px;
  margin-bottom: 10px;
  padding: 0;
  color: $accient;
  display: inline;
  font-style: italic;
  line-height: 0;
}
.feedback__author-heading {
  font-family: $primary-medium;
  font-size: $font-size-xl;
  color: $primary-text;
  margin: 0;
}

.feedback__author-caption {
  font-family: $secondary-regular;
  font-size: $font-size-s;
  color: $primary-text;
  font-style: italic;
  line-height: 26px;
  margin: 0;
  margin-bottom: 60px;
}

.feedback__video-img {
  width: 320px;
  height: 373px;
  margin: 0 auto;
  background-image: url("../img/alexandr_img.png");
  background-repeat: no-repeat;
  background-size: 120%;
  background-position-x: -35px;

  position: relative;
}

.feedback__video-button {
  width: 80px;
  height: 80px;
  border-radius: 100%;
  border: none;
  background-color: $white;
  position: absolute;
  top: 195px;
  right: 25px;
}

.feedback__video-button::before {
  content: "►";
  color: $accient;
  font-size: 26px;
  top: 0;
  left: 0;
}
