.footer {
  padding-top: 40px;
  padding-bottom: 40px;

  &--bg-color {
    background-color: $secondary-bg;
  }
}
.footer-item {
  margin-bottom: 25px;
}

.footer-item__heading {
  font-family: $primary-medium;
  font-size: $font-size-l;
  color: $primary-text;
  line-height: 20px;
  text-decoration: none;
  margin-bottom: 30px;
  display: block;
  position: relative;
}

.footer-item__heading::after {
  content: "▼";
  position: absolute;
  font-size: 14px;
  margin-left: 20px;
  top: 5px;
}
.footer-list {
  margin: 0;
  list-style: none;

  max-height: 0;
  overflow: hidden;
}

.footer-list.show {
  max-height: 100%;
}

.footer-list__item {
  margin-bottom: 20px;
}
.footer-list__link {
  font-family: $secondary-regular;
  font-size: $font-size-s;
  color: $primary-text;
  text-decoration: none;
  line-height: 22px;
}

.props {
  padding-top: 30px;
  padding-bottom: 40px;
  // border-top: 2px solid $footer-border;
}
.props__heading {
  font-family: $primary-medium;
  font-size: $font-size-l;
  color: $primary-text;
}

.props__text {
  font-family: $secondary-regular;
  font-size: $font-size-s;
  color: $primary-text;
  line-height: 22px;
}

.social {
  padding-top: 30px;
  padding-bottom: 40px;
  // border-top: 2px solid $footer-border;
}
.social__heading {
  font-family: $primary-medium;
  font-size: $font-size-l;
  color: $primary-text;
}

.social-list {
  width: 220px;
  display: flex;
  justify-content: space-between;
  margin: 0;
  list-style: none;
}

.social-list__link {
  font-family: $secondary-regular;
  font-size: $font-size-s;
  color: $primary-text;
  text-decoration: none;
  line-height: 22px;
  display: block;
  width: 46px;
  height: 46px;
  background-repeat: no-repeat;

  &--vk {
    background-image: url("../img/vk.png");
  }
  &--fb {
    background-image: url("../img/fb.png");
  }
  &--yt {
    background-image: url("../img/yt.png");
  }
  &--tg {
    background-image: url("../img/tg.png");
  }
}

.props,
.social,
.promo-app--border {
  // position: relative;
  border-top: 2px solid #ece9cb;
}

// .props::before,
// .social::before,
// .promo-app--border::before {
//   content: "";
//   position: absolute;
//   width: 100%;
//   height: 2px;
//   background-color: #ECE9CB;
//   background-size: 100% 100%;
// }

@media (min-width: $tablet) {
  .props,
  .social,
  .promo-app--border {
    border: none;
  }
  .footer-item__heading {
    text-align: center;
  }
  .footer-list {
    text-align: center;
  }
  .footer-list__wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
}

// DESKTOP
@media (min-width: $desktop) {
  .footer {
    padding-top: 120px;
    padding-bottom: 80px;
  }
  .footer-item {
    width: 100%;
  }
  .footer-item__heading {
    text-align: left;
  }
  .footer-item__heading::after {
    display: none;
  }
  .footer-list {
    text-align: left;
  }
  .footer__wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: flex-start;
  }
  .props {
    padding: 0;
  }
  .props__heading {
    margin-top: 0;
  }
}
