body {
  width: 100%;
}

img {
  max-width: 100%;
  height: auto;
}

ul {
  padding: 0;
  margin: 0;
}

select {
  -ms-appearance: none;
  -moz-appearance: none;
  -o-appearance: none;
  -webkit-appearance: none;
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="number"] {
  -moz-appearance: textfield;
}

.container {
  margin: 0 auto;
  padding: 0 20px 0 20px;
  box-sizing: border-box;
}

.visually-hidden {
  max-width: 0;
  max-height: 0;
  overflow: auto;
  opacity: 0;
  transition: all 0.3s ease-in-out;
}

.hidden {
  display: none;
}

.clear {
  clear: both;
}

.text-main {
  font-family: "Museo Sans Cyrl Regular";
  font-size: 18px;
  line-height: 26px;
  color: $primary-text;
}

@media (min-width: $desktop) {
  section {
    max-width: 1560px;
    margin: 0 auto;
  }
  .container {
    padding: 0 40px;

    &--pod {
      padding: 0 20px;
    }
    &--wide {
      padding: 0 40px;
    }
    &--yt {
      padding: 0 150px;
    }
    &--program-item {
      max-width: none;
      width: 100%;
    }
    &--holydays {
      max-width: none;
      width: 100%;
    }
  }
}

@media (min-width: $desktop-full) {

  .container {
    padding: 0px 157px;

    &--wide {
      padding: 0 40px;
    }

  }

}

/////////
// @media (min-width: 2560px) {
//    .container {
//     &--wide {
//       padding: 0 620px;
//     }
//   }
// }
