.holydays {

  &--green-bg {
    position: relative;
    background-color: #238f4b;
    padding-top: 45px;
    padding-bottom: 65px;

    background-image: url("../img/bg_green.png");
    background-repeat: no-repeat;
    background-position-x: center;
    background-position-y: 0;
    background-size: 1440px 803px;
  }

  //&--green-bg::before {
  //  position: absolute;
  //  content: '';
  //  display: block;
  //  width: 100%;
  //  height: 493px;
  //  top: 0px;
  //
  //  background-image: url("../img/bg_green.png");
  //  background-repeat: no-repeat;
  //  -webkit-background-size: 1440px 700px;
  //  background-size: 1440px 700px;
  //  background-position: center 0;
  //
  //}

}

.holydays__desc {
  margin: 0 auto;
  margin-bottom: 50px;
  position: relative;
  &--white-text {
    color: $white;
  }
}

.holydays__text {
  font-family: $primary-regular;
  font-size: $font-size-m;
  text-align: center;
  line-height: 20px;


  &--large {
    font-family: $primary-medium;
    font-size: $font-size-xl;
    line-height: 30px;
  }
  &--grey {
    color: $faded;
  }

  &--bold {
    font-family: $primary-bold;
  }
  &--line-height {
    line-height: 26px;
  }
}

.holydays__img-wrapper {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
  position: relative;

  &::before {
    position: absolute;
    content: '';
    width: calc(100% + 40px);
    height: calc(100% + 100px);
    top: 0px;
    left: -20px;

    background-color: #238f4b;
    z-index: 0;
  }
}

.shadow-wrapper {
  position: relative;
  width: 320px;
  box-shadow: 0px 0px 30px 0px rgba(33, 33, 33, 1);
}
.holydays__img {
  width: 320px;
  height: 414px;
  margin: 0 auto;
  background-image: url("../img/holydays-1.png");
  background-repeat: no-repeat;
  background-size: 100%;
}

.holydays__button {
  margin: 0 auto;
  border: 2px solid $white;
  background-color: hsla(142, 61%, 35%, 0.014);
}

.holydays__button-link {
  text-decoration: none;
  color: $white;
  font-family: $secondary-regular;
  font-size: $font-size-s;
}

.button__wrapper {
  position: relative;
}

//@media (min-width: 450px) {
//
//  .holydays__text--line-height {
//    padding: 40px 0px;
//    margin: 0px;
//  }
//
//}

// TABLET
@media (min-width: $tablet) {
  .holydays--green-bg {
    width: 100%;
<<<<<<< HEAD
    //background-image: url("../img/bg_green.png");
    //background-size: 1440px 868px;
    //background-repeat: no-repeat;
=======
    background-image: url("../img/bg_green.png");
    background-size: 1440px 803px;
    background-repeat: no-repeat;
>>>>>>> master
  }
}
// DESKTOP
@media (min-width: $desktop) {
  .holydays {
    padding-top: 120px;
    padding-bottom: 100px;
  }
  .holydays--green-bg {
    width: 100%;
<<<<<<< HEAD
    //background-image: url("../img/bg_green.png");
    //background-size: 1600px 870px;
    //background-size: 1440px 700px;
=======
    background-image: url("../img/bg_green.png");
    background-size: 1440px 803px;
>>>>>>> master
    // background-position-x: 50%;
    // background-position-y: 0px;
    //background-repeat: no-repeat;
  }
  .holydays__wrapper {
    width: 83%;
    display: flex;
    justify-content: flex-end;
    position: relative;
    margin-top: 50px;
  }
  .holydays__img {
    width: 340px;
  }
  .holydays__item {
    width: 460px;
    display: flex;
    flex-direction: column;
  }
  .holydays__img-wrapper {
    display: block;
    position: absolute;
    top: -15px;
    right: 603px;
  }

  .holydays__img-wrapper {
    &::before {
      display: none;
    }
  }

  .holydays__text {
    font-family: $primary-regular;
    font-size: $font-size-m;
    text-align: left;
    margin: 0;
    line-height: 26px;
    &--large {
      font-family: $primary-medium;
      font-size: $font-size-desktop-xl;
      margin: 0;
      margin-bottom: 50px;
      line-height: 35px;
    }
    &--grey {
      color: $faded;
    }

    &--bold {
      font-family: $primary-bold;
    }
    &--line-height {
      line-height: 26px;
    }
  }

  .holydays__button {
    margin: 0;
  }
}
