.icon {
  display: block;
  content: "";

  &__calendar {
    width: 20px;
    height: 20px;
    background-image: url("../img/calendar_icon.svg");
    background-repeat: no-repeat;
    background-position: center;
  }

  &__quotes {
    width: 37px;
    height: 100px;
    color: $accient;
    font-size: 100px;
    line-height: 100px;
  }

  &__login-vk {
    width: 20px;
    height: 12px;
    background-image: url(../img/icon/vk_login.svg);
    background-repeat: no-repeat;
    margin-right: 15px;
  }

  &__play {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    background-color: $white;
    background-image: url(../img/icon/play_orange.svg);
    background-repeat: no-repeat;
    -webkit-background-size: 17px 21px;
    background-size: 17px 21px;
    background-position: center;

    &--sober {
      position: absolute;
      top: 40%;
      left: 38%;
    }
  }

  &__play--modal:hover,
  &__play--modal:active {
    transform: scale(1.2);
  }

  &__bell {
    width: 16px;
    height: 20px;

    background-image: url("../img/icon/notification_icon.svg");
    background-repeat: no-repeat;
    background-size: 22px 20px;
  }

  &__bell.active {
    width: 22px;
    background-image: url("../img/icon/notification_lines.svg");

    -webkit-animation: ring 4s 0.7s ease-in-out infinite;
    -webkit-transform-origin: 50% 4px;
    -moz-animation: ring 4s 0.7s ease-in-out infinite;
    -moz-transform-origin: 50% 4px;
    animation: ring 4s 0.7s ease-in-out infinite;
    transform-origin: 50% 4px;
  }

  &__footer {
    content: "";
    display: block;
    width: 60px;
    height: 45px;
    background-image: url("../../img/icon/main_logo-green-small.svg");
    background-repeat: no-repeat;
  }

  &__email {
    width: 24px;
    height: 24px;
    margin-right: 10px;

    background-repeat: no-repeat;

    &--mail {
      background-image: url("../img/icon/mailru_icon.png");
    }

    &--gmail {
      height: 19px;
      background-image: url("../img/icon/gmail.png");
    }

    &--ya {
      background-image: url("../img/icon/yandex.png");
    }
  }

  // &__check-email {
  //   width: 133px;
  //   height: 133px;
  //   background-image: url("../img/icon/mail_check.png");
  // }
  &__info-list {
    margin-bottom: 3px;
    margin-left: 8px;
  }
}

@-webkit-keyframes ring {
  0% {
    -webkit-transform: rotateZ(0);
  }

  1% {
    -webkit-transform: rotateZ(30deg);
  }

  3% {
    -webkit-transform: rotateZ(-28deg);
  }

  5% {
    -webkit-transform: rotateZ(34deg);
  }

  7% {
    -webkit-transform: rotateZ(-32deg);
  }

  9% {
    -webkit-transform: rotateZ(30deg);
  }

  11% {
    -webkit-transform: rotateZ(-28deg);
  }

  13% {
    -webkit-transform: rotateZ(26deg);
  }

  15% {
    -webkit-transform: rotateZ(-24deg);
  }

  17% {
    -webkit-transform: rotateZ(22deg);
  }

  19% {
    -webkit-transform: rotateZ(-20deg);
  }

  21% {
    -webkit-transform: rotateZ(18deg);
  }

  23% {
    -webkit-transform: rotateZ(-16deg);
  }

  25% {
    -webkit-transform: rotateZ(14deg);
  }

  27% {
    -webkit-transform: rotateZ(-12deg);
  }

  29% {
    -webkit-transform: rotateZ(10deg);
  }

  31% {
    -webkit-transform: rotateZ(-8deg);
  }

  33% {
    -webkit-transform: rotateZ(6deg);
  }

  35% {
    -webkit-transform: rotateZ(-4deg);
  }

  37% {
    -webkit-transform: rotateZ(2deg);
  }

  39% {
    -webkit-transform: rotateZ(-1deg);
  }

  41% {
    -webkit-transform: rotateZ(1deg);
  }

  43% {
    -webkit-transform: rotateZ(0);
  }

  100% {
    -webkit-transform: rotateZ(0);
  }
}

@-moz-keyframes ring {
  0% {
    -moz-transform: rotate(0);
  }

  1% {
    -moz-transform: rotate(30deg);
  }

  3% {
    -moz-transform: rotate(-28deg);
  }

  5% {
    -moz-transform: rotate(34deg);
  }

  7% {
    -moz-transform: rotate(-32deg);
  }

  9% {
    -moz-transform: rotate(30deg);
  }

  11% {
    -moz-transform: rotate(-28deg);
  }

  13% {
    -moz-transform: rotate(26deg);
  }

  15% {
    -moz-transform: rotate(-24deg);
  }

  17% {
    -moz-transform: rotate(22deg);
  }

  19% {
    -moz-transform: rotate(-20deg);
  }

  21% {
    -moz-transform: rotate(18deg);
  }

  23% {
    -moz-transform: rotate(-16deg);
  }

  25% {
    -moz-transform: rotate(14deg);
  }

  27% {
    -moz-transform: rotate(-12deg);
  }

  29% {
    -moz-transform: rotate(10deg);
  }

  31% {
    -moz-transform: rotate(-8deg);
  }

  33% {
    -moz-transform: rotate(6deg);
  }

  35% {
    -moz-transform: rotate(-4deg);
  }

  37% {
    -moz-transform: rotate(2deg);
  }

  39% {
    -moz-transform: rotate(-1deg);
  }

  41% {
    -moz-transform: rotate(1deg);
  }

  43% {
    -moz-transform: rotate(0);
  }

  100% {
    -moz-transform: rotate(0);
  }
}

@keyframes ring {
  0% {
    transform: rotate(0);
  }

  1% {
    transform: rotate(30deg);
  }

  3% {
    transform: rotate(-28deg);
  }

  5% {
    transform: rotate(34deg);
  }

  7% {
    transform: rotate(-32deg);
  }

  9% {
    transform: rotate(30deg);
  }

  11% {
    transform: rotate(-28deg);
  }

  13% {
    transform: rotate(26deg);
  }

  15% {
    transform: rotate(-24deg);
  }

  17% {
    transform: rotate(22deg);
  }

  19% {
    transform: rotate(-20deg);
  }

  21% {
    transform: rotate(18deg);
  }

  23% {
    transform: rotate(-16deg);
  }

  25% {
    transform: rotate(14deg);
  }

  27% {
    transform: rotate(-12deg);
  }

  29% {
    transform: rotate(10deg);
  }

  31% {
    transform: rotate(-8deg);
  }

  33% {
    transform: rotate(6deg);
  }

  35% {
    transform: rotate(-4deg);
  }

  37% {
    transform: rotate(2deg);
  }

  39% {
    transform: rotate(-1deg);
  }

  41% {
    transform: rotate(1deg);
  }

  43% {
    transform: rotate(0);
  }

  100% {
    transform: rotate(0);
  }
}

.icon__list {
  content: "";
  width: 32px;
  height: 32px;

  display: block;
  border-radius: 100%;
  background-image: linear-gradient(90deg, #faa533 0%, #c42f2e 100%);
  margin-right: 30px;
  position: relative;

  &::before {
    content: "";
    position: absolute;
    display: block;
    width: 10px;
    height: 8px;
    background-image: url("../img/mini_arrow_white_down.svg");
    background-repeat: no-repeat;
    top: 40%;
    left: 34%;
  }
}

@media (min-width: $tablet) {
  .icon {
    &__footer {
      margin-right: 0;
      padding-right: 0;
    }

    &__play {
      &--sober {
        position: absolute;
        top: 40%;
        left: 45%;
      }
    }
  }
}

@media (min-width: $desktop) {
  .icon__bell-bg {
    display: block;
    width: 38px;
    height: 38px;
    border-radius: 100%;
    position: absolute;
    top: -9px;
    right: 38.5px;
    background-color: transparent;
  }

  .icon__bell-bg:active {
    background-color: #83818157;
    animation: ripple 0.15s ease;
  }

  .icon__list {
    content: "";
    width: 53px;
    height: 53px;
    display: block;
    border-radius: 100%;
    background-image: linear-gradient(90deg, #faa533 0%, #c42f2e 100%);
    margin-right: 30px;
    position: relative;

    &::before {
      content: "";
      position: absolute;
      // display: block;
      width: 10px;
      height: 8px;
      background-image: url("../img/mini_arrow_white_down.svg");
      background-repeat: no-repeat;
      top: 45%;
      left: 40%;
    }
  }

  .icon {
    &__footer {
      content: "";
      display: block;
      width: 60px;
      height: 45px;
      background-image: url("../../img/icon/main_logo-green-small.svg");
      background-repeat: no-repeat;
    }

    &__play {
      &--sober {
        position: absolute;
        top: 40%;
        left: 42%;
      }
    }
  }

  .icon {
    &__main-logo {
      width: 100%;
      // width: 42px;
      // height: 42px;
      // background-image: url("../img/icon/main_logo-dark-orange.svg");
      // background-repeat: no-repeat;
    }
  }
}
