.patron {
  padding-top: 65px;
  padding-bottom: 80px;
}
.patron__img-wrapper {
  display: flex;
  justify-content: center;
  margin-bottom: 30px;
}
  // .patron__img {
  //   width: 280px;
  //   height: 455px;
  //   margin: 0 auto;
  //   background-image: url("../img/patron-1.png");
  //   background-repeat: no-repeat;
  // }
.patron-form__wrapper {
  display: flex;
  justify-content: center;
}
.patron-form {
  margin-top: 20px;
}
.patron-form__label {
  font-family: $secondary-regular;
  font-size: $font-size-s;
  color: $primary-text;
  position: relative;
}
.patron-form__input {
  display: block;
  box-sizing: border-box;
  width: 279px;
  min-height: 60px;
  border: 1px solid #cccccc;
  border-radius: 10px;
  margin-top: 10px;
  margin-bottom: 30px;
  line-height: 26px;
  font-family: $secondary-regular;
  font-size: $font-size-m;
  color: $faded;
  position: relative;
  z-index: 1;
  &--name {
    padding-left: 20px;
  }
  &--date {
    padding-left: 60px;
    position: relative;
  }
  &--email {
    padding-left: 30px;
  }
}

.patron-form__label--calendar-thumb::before {
  content: "";
  position: absolute;
  width: 20px;
  height: 20px;
  background-image: url("../img/calendar_icon.svg");
  background-repeat: no-repeat;
  z-index: 2;
  top: 48px;
  left: 20px;
}

.patron__button {
  width: 260px;
  height: 60px;
}

.patron__button-link {
  // @include SC500-xs;
  font-family: $secondary-regular;
  font-size: $font-size-xs;
  text-decoration: none;
  color: $white;
}

// DESKTOP

@media (min-width: $desktop) {
  .patron {
    padding-top: 120px;
    padding-bottom: 120px;
  }
  .patron__wrapper {
    margin: 0 auto;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin-top: 75px;
    padding-left: 200px;
    padding-right: 200px;
  }
  .patron__img-left-col {
    // width: 50%;
    // padding-left: 50px;
  }
  .patron__img-right-col {
    // width: 50%;
    // padding-right: 50px;
  }
  // .patron__img {
  //   width: 340px;
  //   height: 464px;
  //   margin: 0 auto;
  //   background-image: url("../img/patron-1.png");
  //   background-repeat: no-repeat;
  // }
  .patron-form__input {
    width: 460px;
  }
  .patron__button {
    width: 330px;
    margin: 0;
  }
}
