.program-item {
  max-width: 1440px;
  margin: 0 auto;
  display: flex;

  background-repeat: no-repeat;
  background-position: center 36px;
  background-size: 545px 583px;
  margin-bottom: 100px;

  &--holies {
    background-image: linear-gradient(
        -180deg,
        rgba(26, 174, 104, 0.4) 0%,
        #157044 100%
      ),
      url("../img/vostanovlenie_svyatih.png");
  }

  &--sobriety {
    background-image: linear-gradient(
        -180deg,
        rgba(68, 89, 140, 0.4) 0%,
        #44598c 100%
      ),
      url("../img/bratstvo_trezvosty.png");
  }
}

.program__desc {
  width: 280px;
  color: $white;
  margin-bottom: 30px;
}
.program__desc-heading {
  font-family: $primary-medium;
  font-size: $font-size-xl;
  text-align: center;
  margin: 0;
  margin-bottom: 15px;
}

.program__desc-lead {
  font-family: $secondary-regular;
  font-size: $font-size-m;
  text-align: center;
  margin: 0;
}

.programs__container {
  padding: 0 120px;
}
//DESKTOP
@media (min-width: $desktop) {
  .programs__wrapper {
    width: 100%;
    margin: 0 auto;
    display: flex;
    // justify-content: space-between;
    justify-content: center;
    margin-top: 90px;
  }

  .program-item {
    width: 50%;
    position: relative;
    background-repeat: no-repeat;
  }
  .container--program-item {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  .program__desc-lead {
    display: block;
    width: 280px;
    margin: 0 auto;
    position: relative;
  }
  .program__desc-lead--left::after {
    content: "";
    position: absolute;
    width: 30px;
    height: 108px;
    background-image: url("../img/icon/arrow-white-left.svg");
    background-repeat: no-repeat;
    left: -85px;
    bottom: -50px;
  }
  .program__desc-lead--right::before {
    content: "";
    position: absolute;
    width: 30px;
    height: 108px;
    background-image: url("../img/icon/arrow-white-right.svg");
    background-repeat: no-repeat;
    right: -85px;
    bottom: -50px;
  }
  .program-item:nth-child(1) {
    margin-left: 120px;
  }
  .program-item:nth-child(2) {
    margin-right: 120px;
  }
  .logo {
    margin-right: 340px;
  }

  .program__desc {
    width: 100%;
  }
}
