.section__desc {
    width: 280px;
    margin: 0 auto;
    margin-bottom: 30px;
    &--white-text {
        color: $white;
    }
}

.section__text {
    @include PR500-s;
    text-align: center;
    line-height: 20px;
    &--large {
        @include PR500-xl;
        margin: 0;
        line-height: 30px;
    }
    &--grey {
        color: $faded;
    }
}

.section--secondary-bg {
    background-color: $secondary-bg;
}

.section__desc--thumb-notif {
    position: relative;
}

.section__desc--thumb-notif::before {
    content: "";
    display: block;
    position: absolute;
    width: 16px;
    height: 20px;
    background-image: url("../img/notification_icon.svg");
    background-repeat: no-repeat;
    right: 130px;
    top: -25px;
}
