.shop {
    padding-top: 70px;
    padding-bottom: 50px;
    background-color: $primary-bg;
}
.shop__logo {
    width: 50px;
    height: 48px;
    margin: 0 auto;
    background-image: url("../img/main_logo-red.svg");
}

.shop-desc__text {
    text-align: center;
    font-family: $primary-regular;
    font-size: $font-size-l;
    color: $primary-text;
    line-height: 30px;
}

.shop__button {
    width: 280px;
}

.shop__button-link {
    text-decoration: none;
    color: $white;
    font-family: $secondary-regular;
    font-size: $font-size-s;
}
