// Media Q
$tablet: 768px;
$desktop: 1024px;
$desktop-full: 1260px;

// Colors
$white: #FFF;
$primary-text: #212121;
$faded: #9B9B9B;
$accient: #FF482F;
$accient-2: #F65500;
$list-dot: #D13D24;
$secondary-accient: #0071BC;
$link-color: #7C872F;
// $primary-bg: rgba(236, 236, 229, 0.23);
$primary-bg: #f7f7f7;
$secondary-bg: #FAF7DF;
$grey-bg: #FAFAF9;
$footer-border: #ECE9CB;
$dark-green-bg: #238F4B;
$yt-red: #EA3518 ;
$prog-accient-1: #026837;
$prog-accient-2: #1B1564;
$service-item-border: rgba(207, 204, 185, 0.2);
$grey-border: #CCCCCC;
$button-yellow: #F7F606;
$button-solid-orange: #F7AE06;

// Typography

// Font Family. Primary - Museo, Secondary Museo Sans

//Museo Cyrillic
$primary-thin-xs: 'MuseoCyrillic-100', sans-serif; // 300
$primary-thin: 'Museo Cyrillic Thin', sans-serif; // 300
$primary-regular: 'Museo Cyrillic Regular', sans-serif; // 500
$primary-medium: 'Museo Cyrillic Medium', sans-serif; // 700
$primary-bold: 'Museo Cyrillic Bold', sans-serif; // 900

//Museo Sans Cyrl
$secondary-thin: 'Museo Sans Cyrl Thin', sans-serif; // 300
$secondary-regular: 'Museo Sans Cyrl Regular', sans-serif; // 500
$secondary-regular-italic: 'MuseoSansCyrl-500It', sans-serif; // 500
$secondary-medium: 'Museo Sans Cyrl Medium', sans-serif; // 700
$secondary-bold: 'Museo Sans Cyrl Bold', sans-serif; // 900

// Font Sizes
$font-size-2xs: 12px;
$font-size-xs: 13px;
$font-size-ms: 14px;
$font-size-s: 16px;
$font-size-m: 18px;
$font-size-l: 20px;
$font-size-xl: 24px;
$font-size-xxl: 25px;
$font-size-2xl: 30px;
$font-size-3xl: 40px;

$font-size-desktop-s: 20px;
$font-size-desktop-m: 24px;
$font-size-desktop-xl: 35px;
$font-size-desktop-2xl: 45px;
